@import './web-icons/style';


.wi,
.wis,
.wir,
.wil,
.wid,
.wib {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
  vertical-align: middle;
}

.wi-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.wi-xs {
  font-size: .75em;
}

.wi-sm {
  font-size: .875em;
}

.wi-1x {
  font-size: 1em;
}

.wi-2x {
  font-size: 2em;
}

.wi-3x {
  font-size: 3em;
}

.wi-4x {
  font-size: 4em;
}

.wi-5x {
  font-size: 5em;
}

.wi-6x {
  font-size: 6em;
}

.wi-7x {
  font-size: 7em;
}

.wi-8x {
  font-size: 8em;
}

.wi-9x {
  font-size: 9em;
}

.wi-10x {
  font-size: 10em;
}

.wi-fw {
  text-align: center;
  width: 1.25em;
}

.wi-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.wi-ul > li {
  position: relative;
}

.wi-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.wi-border {
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.wi-pull-left {
  float: left;
}

.wi-pull-right {
  float: right;
}

.wi.wi-pull-left,
.wis.wi-pull-left,
.wir.wi-pull-left,
.wil.wi-pull-left,
.wib.wi-pull-left {
  margin-right: .3em;
}

.wi.wi-pull-right,
.wis.wi-pull-right,
.wir.wi-pull-right,
.wil.wi-pull-right,
.wib.wi-pull-right {
  margin-left: .3em;
}

.wi-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.wi-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wi-rotate-90 {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=1)';
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wi-rotate-180 {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=2)';
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wi-rotate-270 {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=3)';
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.wi-flip-horizontal {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)';
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.wi-flip-vertical {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)';
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.wi-flip-both, .wi-flip-horizontal.wi-flip-vertical {
  -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)';
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

:root .wi-rotate-90,
:root .wi-rotate-180,
:root .wi-rotate-270,
:root .wi-flip-horizontal,
:root .wi-flip-vertical,
:root .wi-flip-both {
  -webkit-filter: none;
  filter: none;
}
