$icomoon-font-family: 'Web-icons' !default;
$icomoon-font-path: '/public/font/web_fonts' !default;

$wb-film: '\f008';
$wb-play-circle-o: '\f01d';
$wb-video-camera: '\f03d';
$wb-video: '\f03d';
$wb-map-marker: '\f041';
$wb-play: '\f04b';
$wb-calendar: '\f073';
$wb-phone: '\f095';
$wb-sitemap: '\f0e8';
$wb-location-arrow: '\f124';
$wb-calendar-o: '\f133';
$wb-calendar: '\f133';
$wb-play-circle: '\f144';
$wb-youtube-square: '\f166';
$wb-youtube: '\f167';
$wb-youtube-play: '\f16a';
$wb-file-movie-o: '\f1c8';
$wb-file-video-o: '\f1c8';
$wb-calendar-plus-o: '\f271';
$wb-calendar-minus-o: '\f272';
$wb-calendar-times-o: '\f273';
$wb-calendar-check-o: '\f274';
$wb-map-pin: '\f276';
$wb-map-signs: '\f277';
$wb-map-o: '\f278';
$wb-map: '\f279';
$wb-image: '\f03e';
$wb-photo: '\f03e';
$wb-picture-o: '\f03e';

