$icomoon-font-family: 'Web-icons' !default;
$icomoon-font-path: '/public/font/web_fonts' !default;

$wb-500px: '\f26e';
$wb-address-book: '\f2b9';
$wb-address-book-o: '\f2ba';
$wb-address-card: '\f2bb';
$wb-vcard: '\f2bb';
$wb-address-card-o: '\f2bc';
$wb-vcard-o: '\f2bc';
$wb-adjust: '\f042';
$wb-adn: '\f170';
$wb-align-center: '\f037';
$wb-align-justify: '\f039';
$wb-align-left: '\f036';
$wb-align-right: '\f038';
$wb-amazon: '\f270';
$wb-ambulance: '\f0f9';
$wb-american-sign-language-interpreting: '\f2a3';
$wb-asl-interpreting: '\f2a3';
$wb-anchor: '\f13d';
$wb-android: '\f17b';
$wb-angellist: '\f209';
$wb-angle-double-down: '\f103';
$wb-angle-double-left: '\f100';
$wb-angle-double-right: '\f101';
$wb-angle-double-up: '\f102';
$wb-angle-down: '\f107';
$wb-angle-left: '\f104';
$wb-angle-right: '\f105';
$wb-angle-up: '\f106';
$wb-apple: '\f179';
$wb-archive: '\f187';
$wb-area-chart: '\f1fe';
$wb-arrow-circle-down: '\f0ab';
$wb-arrow-circle-left: '\f0a8';
$wb-arrow-circle-o-down: '\f01a';
$wb-arrow-circle-o-left: '\f190';
$wb-arrow-circle-o-right: '\f18e';
$wb-arrow-circle-o-up: '\f01b';
$wb-arrow-circle-right: '\f0a9';
$wb-arrow-circle-up: '\f0aa';
$wb-arrow-down: '\f063';
$wb-arrow-left: '\f060';
$wb-arrow-right: '\f061';
$wb-arrow-up: '\f062';
$wb-arrows: '\f047';
$wb-arrows-alt: '\f0b2';
$wb-arrows-h: '\f07e';
$wb-arrows-v: '\f07d';
$wb-assistive-listening-systems: '\f2a2';
$wb-asterisk: '\f069';
$wb-at: '\f1fa';
$wb-audio-description: '\f29e';
$wb-automobile: '\f1b9';
$wb-car: '\f1b9';
$wb-backward: '\f04a';
$wb-balance-scale: '\f24e';
$wb-ban: '\f05e';
$wb-bandcamp: '\f2d5';
$wb-bank: '\f19c';
$wb-institution: '\f19c';
$wb-university: '\f19c';
$wb-bar-chart: '\f080';
$wb-bar-chart-o: '\f080';
$wb-barcode: '\f02a';
$wb-bars: '\f0c9';
$wb-navicon: '\f0c9';
$wb-reorder: '\f0c9';
$wb-bath: '\f2cd';
$wb-bathtub: '\f2cd';
$wb-s15: '\f2cd';
$wb-battery: '\f240';
$wb-battery-4: '\f240';
$wb-battery-full: '\f240';
$wb-battery-0: '\f244';
$wb-battery-empty: '\f244';
$wb-battery-1: '\f243';
$wb-battery-quarter: '\f243';
$wb-battery-2: '\f242';
$wb-battery-half: '\f242';
$wb-battery-3: '\f241';
$wb-battery-three-quarters: '\f241';
$wb-bed: '\f236';
$wb-hotel: '\f236';
$wb-beer: '\f0fc';
$wb-behance: '\f1b4';
$wb-behance-square: '\f1b5';
$wb-bell: '\f0f3';
$wb-bell-o: '\f0a2';
$wb-bell-slash: '\f1f6';
$wb-bell-slash-o: '\f1f7';
$wb-bicycle: '\f206';
$wb-binoculars: '\f1e5';
$wb-birthday-cake: '\f1fd';
$wb-bitbucket: '\f171';
$wb-bitbucket-square: '\f172';
$wb-bitcoin: '\f15a';
$wb-btc: '\f15a';
$wb-black-tie: '\f27e';
$wb-blind: '\f29d';
$wb-bluetooth: '\f293';
$wb-bluetooth-b: '\f294';
$wb-bold: '\f032';
$wb-bolt: '\f0e7';
$wb-flash: '\f0e7';
$wb-bomb: '\f1e2';
$wb-book: '\f02d';
$wb-bookmark: '\f02e';
$wb-bookmark-o: '\f097';
$wb-braille: '\f2a1';
$wb-briefcase: '\f0b1';
$wb-bug: '\f188';
$wb-building: '\f1ad';
$wb-building-o: '\f0f7';
$wb-bullhorn: '\f0a1';
$wb-bullseye: '\f140';
$wb-bus: '\f207';
$wb-buysellads: '\f20d';
$wb-cab: '\f1ba';
$wb-taxi: '\f1ba';
$wb-calculator: '\f1ec';
$wb-calendar: '\f073';
$wb-calendar-check-o: '\f274';
$wb-calendar-minus-o: '\f272';
$wb-calendar-o: '\f133';
$wb-calendar-plus-o: '\f271';
$wb-calendar-times-o: '\f273';
$wb-camera: '\f030';
$wb-camera-retro: '\f083';
$wb-caret-down: '\f0d7';
$wb-caret-left: '\f0d9';
$wb-caret-right: '\f0da';
$wb-caret-square-o-down: '\f150';
$wb-toggle-down: '\f150';
$wb-caret-square-o-left: '\f191';
$wb-toggle-left: '\f191';
$wb-caret-square-o-right: '\f152';
$wb-toggle-right: '\f152';
$wb-caret-square-o-up: '\f151';
$wb-toggle-up: '\f151';
$wb-caret-up: '\f0d8';
$wb-cart-arrow-down: '\f218';
$wb-cart-plus: '\f217';
$wb-cc: '\f20a';
$wb-cc-amex: '\f1f3';
$wb-cc-diners-club: '\f24c';
$wb-cc-discover: '\f1f2';
$wb-cc-jcb: '\f24b';
$wb-cc-mastercard: '\f1f1';
$wb-cc-paypal: '\f1f4';
$wb-cc-stripe: '\f1f5';
$wb-cc-visa: '\f1f0';
$wb-certificate: '\f0a3';
$wb-chain: '\f0c1';
$wb-link: '\f0c1';
$wb-chain-broken: '\f127';
$wb-unlink: '\f127';
$wb-check: '\f00c';
$wb-check-circle: '\f058';
$wb-check-circle-o: '\f05d';
$wb-check-square: '\f14a';
$wb-check-square-o: '\f046';
$wb-chevron-circle-down: '\f13a';
$wb-chevron-circle-left: '\f137';
$wb-chevron-circle-right: '\f138';
$wb-chevron-circle-up: '\f139';
$wb-chevron-down: '\f078';
$wb-chevron-left: '\f053';
$wb-chevron-right: '\f054';
$wb-chevron-up: '\f077';
$wb-child: '\f1ae';
$wb-chrome: '\f268';
$wb-circle: '\f111';
$wb-circle-o: '\f10c';
$wb-circle-o-notch: '\f1ce';
$wb-circle-thin: '\f1db';
$wb-clipboard: '\f0ea';
$wb-paste: '\f0ea';
$wb-clock-o: '\f017';
$wb-clone: '\f24d';
$wb-close: '\f00d';
$wb-remove: '\f00d';
$wb-times: '\f00d';
$wb-cloud: '\f0c2';
$wb-cloud-download: '\f0ed';
$wb-cloud-upload: '\f0ee';
$wb-cny: '\f157';
$wb-jpy: '\f157';
$wb-rmb: '\f157';
$wb-yen: '\f157';
$wb-code: '\f121';
$wb-code-fork: '\f126';
$wb-codepen: '\f1cb';
$wb-codiepie: '\f284';
$wb-coffee: '\f0f4';
$wb-cog: '\f013';
$wb-gear: '\f013';
$wb-cogs: '\f085';
$wb-gears: '\f085';
$wb-columns: '\f0db';
$wb-comment: '\f075';
$wb-comment-o: '\f0e5';
$wb-commenting: '\f27a';
$wb-commenting-o: '\f27b';
$wb-comments: '\f086';
$wb-comments-o: '\f0e6';
$wb-compass: '\f14e';
$wb-compress: '\f066';
$wb-connectdevelop: '\f20e';
$wb-contao: '\f26d';
$wb-copy: '\f0c5';
$wb-files-o: '\f0c5';
$wb-copyright: '\f1f9';
$wb-creative-commons: '\f25e';
$wb-credit-card: '\f09d';
$wb-credit-card-alt: '\f283';
$wb-crop: '\f125';
$wb-crosshairs: '\f05b';
$wb-css3: '\f13c';
$wb-cube: '\f1b2';
$wb-cubes: '\f1b3';
$wb-cut: '\f0c4';
$wb-scissors: '\f0c4';
$wb-cutlery: '\f0f5';
$wb-dashboard: '\f0e4';
$wb-tachometer: '\f0e4';
$wb-dashcube: '\f210';
$wb-database: '\f1c0';
$wb-deaf: '\f2a4';
$wb-deafness: '\f2a4';
$wb-hard-of-hearing: '\f2a4';
$wb-dedent: '\f03b';
$wb-outdent: '\f03b';
$wb-delicious: '\f1a5';
$wb-desktop: '\f108';
$wb-deviantart: '\f1bd';
$wb-diamond: '\f219';
$wb-digg: '\f1a6';
$wb-dollar: '\f155';
$wb-usd: '\f155';
$wb-dot-circle-o: '\f192';
$wb-download: '\f019';
$wb-dribbble: '\f17d';
$wb-drivers-license: '\f2c2';
$wb-id-card: '\f2c2';
$wb-drivers-license-o: '\f2c3';
$wb-id-card-o: '\f2c3';
$wb-dropbox: '\f16b';
$wb-drupal: '\f1a9';
$wb-edge: '\f282';
$wb-edit: '\f044';
$wb-pencil-square-o: '\f044';
$wb-eercast: '\f2da';
$wb-eject: '\f052';
$wb-ellipsis-h: '\f141';
$wb-ellipsis-v: '\f142';
$wb-empire: '\f1d1';
$wb-ge: '\f1d1';
$wb-envelope: '\f0e0';
$wb-envelope-o: '\f003';
$wb-envelope-open: '\f2b6';
$wb-envelope-open-o: '\f2b7';
$wb-envelope-square: '\f199';
$wb-envira: '\f299';
$wb-eraser: '\f12d';
$wb-etsy: '\f2d7';
$wb-eur: '\f153';
$wb-euro: '\f153';
$wb-exchange: '\f0ec';
$wb-exclamation: '\f12a';
$wb-exclamation-circle: '\f06a';
$wb-exclamation-triangle: '\f071';
$wb-warning: '\f071';
$wb-expand: '\f065';
$wb-expeditedssl: '\f23e';
$wb-external-link: '\f08e';
$wb-external-link-square: '\f14c';
$wb-eye: '\f06e';
$wb-eye-slash: '\f070';
$wb-eyedropper: '\f1fb';
$wb-fa: '\f2b4';
$wb-font-awesome: '\f2b4';
$wb-facebook: '\f09a';
$wb-facebook-f: '\f09a';
$wb-facebook-official: '\f230';
$wb-facebook-square: '\f082';
$wb-fast-backward: '\f049';
$wb-fast-forward: '\f050';
$wb-fax: '\f1ac';
$wb-feed: '\f09e';
$wb-rss: '\f09e';
$wb-female: '\f182';
$wb-fighter-jet: '\f0fb';
$wb-file: '\f15b';
$wb-file-archive-o: '\f1c6';
$wb-file-zip-o: '\f1c6';
$wb-file-audio-o: '\f1c7';
$wb-file-sound-o: '\f1c7';
$wb-file-code-o: '\f1c9';
$wb-file-excel-o: '\f1c3';
$wb-file-image-o: '\f1c5';
$wb-file-photo-o: '\f1c5';
$wb-file-picture-o: '\f1c5';
$wb-file-movie-o: '\f1c8';
$wb-file-video-o: '\f1c8';
$wb-file-o: '\f016';
$wb-file-pdf-o: '\f1c1';
$wb-file-powerpoint-o: '\f1c4';
$wb-file-text: '\f15c';
$wb-file-text-o: '\f0f6';
$wb-file-word-o: '\f1c2';
$wb-film: '\f008';
$wb-filter: '\f0b0';
$wb-fire: '\f06d';
$wb-fire-extinguisher: '\f134';
$wb-firefox: '\f269';
$wb-first-order: '\f2b0';
$wb-flag: '\f024';
$wb-flag-checkered: '\f11e';
$wb-flag-o: '\f11d';
$wb-flask: '\f0c3';
$wb-flickr: '\f16e';
$wb-floppy-o: '\f0c7';
$wb-save: '\f0c7';
$wb-folder: '\f07b';
$wb-folder-o: '\f114';
$wb-folder-open: '\f07c';
$wb-folder-open-o: '\f115';
$wb-font: '\f031';
$wb-fonticons: '\f280';
$wb-fort-awesome: '\f286';
$wb-forumbee: '\f211';
$wb-forward: '\f04e';
$wb-foursquare: '\f180';
$wb-free-code-camp: '\f2c5';
$wb-frown-o: '\f119';
$wb-futbol-o: '\f1e3';
$wb-soccer-ball-o: '\f1e3';
$wb-gamepad: '\f11b';
$wb-gavel: '\f0e3';
$wb-legal: '\f0e3';
$wb-gbp: '\f154';
$wb-genderless: '\f22d';
$wb-get-pocket: '\f265';
$wb-gg: '\f260';
$wb-gg-circle: '\f261';
$wb-gift: '\f06b';
$wb-git: '\f1d3';
$wb-git-square: '\f1d2';
$wb-github: '\f09b';
$wb-github-alt: '\f113';
$wb-github-square: '\f092';
$wb-gitlab: '\f296';
$wb-gittip: '\f184';
$wb-gratipay: '\f184';
$wb-glass: '\f000';
$wb-glide: '\f2a5';
$wb-glide-g: '\f2a6';
$wb-globe: '\f0ac';
$wb-google: '\f1a0';
$wb-google-plus: '\f0d5';
$wb-google-plus-circle: '\f2b3';
$wb-google-plus-official: '\f2b3';
$wb-google-plus-square: '\f0d4';
$wb-google-wallet: '\f1ee';
$wb-graduation-cap: '\f19d';
$wb-mortar-board: '\f19d';
$wb-grav: '\f2d6';
$wb-group: '\f0c0';
$wb-users: '\f0c0';
$wb-h-square: '\f0fd';
$wb-hacker-news: '\f1d4';
$wb-y-combinator-square: '\f1d4';
$wb-yc-square: '\f1d4';
$wb-hand-grab-o: '\f255';
$wb-hand-rock-o: '\f255';
$wb-hand-lizard-o: '\f258';
$wb-hand-o-down: '\f0a7';
$wb-hand-o-left: '\f0a5';
$wb-hand-o-right: '\f0a4';
$wb-hand-o-up: '\f0a6';
$wb-hand-paper-o: '\f256';
$wb-hand-stop-o: '\f256';
$wb-hand-peace-o: '\f25b';
$wb-hand-pointer-o: '\f25a';
$wb-hand-scissors-o: '\f257';
$wb-hand-spock-o: '\f259';
$wb-handshake-o: '\f2b5';
$wb-hashtag: '\f292';
$wb-hdd-o: '\f0a0';
$wb-header: '\f1dc';
$wb-headphones: '\f025';
$wb-heart: '\f004';
$wb-heart-o: '\f08a';
$wb-heartbeat: '\f21e';
$wb-history: '\f1da';
$wb-home: '\f015';
$wb-hospital-o: '\f0f8';
$wb-hourglass: '\f254';
$wb-hourglass-1: '\f251';
$wb-hourglass-start: '\f251';
$wb-hourglass-2: '\f252';
$wb-hourglass-half: '\f252';
$wb-hourglass-3: '\f253';
$wb-hourglass-end: '\f253';
$wb-hourglass-o: '\f250';
$wb-houzz: '\f27c';
$wb-html5: '\f13b';
$wb-i-cursor: '\f246';
$wb-id-badge: '\f2c1';
$wb-ils: '\f20b';
$wb-shekel: '\f20b';
$wb-sheqel: '\f20b';
$wb-image: '\f03e';
$wb-photo: '\f03e';
$wb-picture-o: '\f03e';
$wb-imdb: '\f2d8';
$wb-inbox: '\f01c';
$wb-indent: '\f03c';
$wb-industry: '\f275';
$wb-info: '\f129';
$wb-info-circle: '\f05a';
$wb-inr: '\f156';
$wb-rupee: '\f156';
$wb-instagram: '\f16d';
$wb-internet-explorer: '\f26b';
$wb-intersex: '\f224';
$wb-transgender: '\f224';
$wb-ioxhost: '\f208';
$wb-italic: '\f033';
$wb-joomla: '\f1aa';
$wb-jsfiddle: '\f1cc';
$wb-key: '\f084';
$wb-keyboard-o: '\f11c';
$wb-krw: '\f159';
$wb-won: '\f159';
$wb-language: '\f1ab';
$wb-laptop: '\f109';
$wb-lastfm: '\f202';
$wb-lastfm-square: '\f203';
$wb-leaf: '\f06c';
$wb-leanpub: '\f212';
$wb-lemon-o: '\f094';
$wb-level-down: '\f149';
$wb-level-up: '\f148';
$wb-life-bouy: '\f1cd';
$wb-life-buoy: '\f1cd';
$wb-life-ring: '\f1cd';
$wb-life-saver: '\f1cd';
$wb-support: '\f1cd';
$wb-lightbulb-o: '\f0eb';
$wb-line-chart: '\f201';
$wb-linkedin: '\f0e1';
$wb-linkedin-square: '\f08c';
$wb-linode: '\f2b8';
$wb-linux: '\f17c';
$wb-list: '\f03a';
$wb-list-alt: '\f022';
$wb-list-ol: '\f0cb';
$wb-list-ul: '\f0ca';
$wb-location-arrow: '\f124';
$wb-lock: '\f023';
$wb-long-arrow-down: '\f175';
$wb-long-arrow-left: '\f177';
$wb-long-arrow-right: '\f178';
$wb-long-arrow-up: '\f176';
$wb-low-vision: '\f2a8';
$wb-magic: '\f0d0';
$wb-magnet: '\f076';
$wb-mail-forward: '\f064';
$wb-share: '\f064';
$wb-mail-reply: '\f112';
$wb-reply: '\f112';
$wb-mail-reply-all: '\f122';
$wb-reply-all: '\f122';
$wb-male: '\f183';
$wb-map: '\f279';
$wb-map-marker: '\f041';
$wb-map-o: '\f278';
$wb-map-pin: '\f276';
$wb-map-signs: '\f277';
$wb-mars: '\f222';
$wb-mars-double: '\f227';
$wb-mars-stroke: '\f229';
$wb-mars-stroke-h: '\f22b';
$wb-mars-stroke-v: '\f22a';
$wb-maxcdn: '\f136';
$wb-meanpath: '\f20c';
$wb-medium: '\f23a';
$wb-medkit: '\f0fa';
$wb-meetup: '\f2e0';
$wb-meh-o: '\f11a';
$wb-mercury: '\f223';
$wb-microchip: '\f2db';
$wb-microphone: '\f130';
$wb-microphone-slash: '\f131';
$wb-minus: '\f068';
$wb-minus-circle: '\f056';
$wb-minus-square: '\f146';
$wb-minus-square-o: '\f147';
$wb-mixcloud: '\f289';
$wb-mobile: '\f10b';
$wb-mobile-phone: '\f10b';
$wb-modx: '\f285';
$wb-money: '\f0d6';
$wb-moon-o: '\f186';
$wb-motorcycle: '\f21c';
$wb-mouse-pointer: '\f245';
$wb-music: '\f001';
$wb-neuter: '\f22c';
$wb-newspaper-o: '\f1ea';
$wb-object-group: '\f247';
$wb-object-ungroup: '\f248';
$wb-odnoklassniki: '\f263';
$wb-odnoklassniki-square: '\f264';
$wb-opencart: '\f23d';
$wb-openid: '\f19b';
$wb-opera: '\f26a';
$wb-optin-monster: '\f23c';
$wb-pagelines: '\f18c';
$wb-paint-brush: '\f1fc';
$wb-paper-plane: '\f1d8';
$wb-send: '\f1d8';
$wb-paper-plane-o: '\f1d9';
$wb-send-o: '\f1d9';
$wb-paperclip: '\f0c6';
$wb-paragraph: '\f1dd';
$wb-pause: '\f04c';
$wb-pause-circle: '\f28b';
$wb-pause-circle-o: '\f28c';
$wb-paw: '\f1b0';
$wb-paypal: '\f1ed';
$wb-pencil: '\f040';
$wb-pencil-square: '\f14b';
$wb-percent: '\f295';
$wb-phone: '\f095';
$wb-phone-square: '\f098';
$wb-pie-chart: '\f200';
$wb-pied-piper: '\f2ae';
$wb-pied-piper-alt: '\f1a8';
$wb-pied-piper-pp: '\f1a7';
$wb-pinterest: '\f0d2';
$wb-pinterest-p: '\f231';
$wb-pinterest-square: '\f0d3';
$wb-plane: '\f072';
$wb-play: '\f04b';
$wb-play-circle: '\f144';
$wb-play-circle-o: '\f01d';
$wb-plug: '\f1e6';
$wb-plus: '\f067';
$wb-plus-circle: '\f055';
$wb-plus-square: '\f0fe';
$wb-plus-square-o: '\f196';
$wb-podcast: '\f2ce';
$wb-power-off: '\f011';
$wb-print: '\f02f';
$wb-product-hunt: '\f288';
$wb-puzzle-piece: '\f12e';
$wb-qq: '\f1d6';
$wb-qrcode: '\f029';
$wb-question: '\f128';
$wb-question-circle: '\f059';
$wb-question-circle-o: '\f29c';
$wb-quora: '\f2c4';
$wb-quote-left: '\f10d';
$wb-quote-right: '\f10e';
$wb-ra: '\f1d0';
$wb-rebel: '\f1d0';
$wb-resistance: '\f1d0';
$wb-random: '\f074';
$wb-ravelry: '\f2d9';
$wb-recycle: '\f1b8';
$wb-reddit: '\f1a1';
$wb-reddit-alien: '\f281';
$wb-reddit-square: '\f1a2';
$wb-refresh: '\f021';
$wb-registered: '\f25d';
$wb-renren: '\f18b';
$wb-repeat: '\f01e';
$wb-rotate-right: '\f01e';
$wb-retweet: '\f079';
$wb-road: '\f018';
$wb-rocket: '\f135';
$wb-rotate-left: '\f0e2';
$wb-undo: '\f0e2';
$wb-rouble: '\f158';
$wb-rub: '\f158';
$wb-ruble: '\f158';
$wb-rss-square: '\f143';
$wb-safari: '\f267';
$wb-scribd: '\f28a';
$wb-search: '\f002';
$wb-search-minus: '\f010';
$wb-search-plus: '\f00e';
$wb-sellsy: '\f213';
$wb-server: '\f233';
$wb-share-alt: '\f1e0';
$wb-share-alt-square: '\f1e1';
$wb-share-square: '\f14d';
$wb-share-square-o: '\f045';
$wb-shield: '\f132';
$wb-ship: '\f21a';
$wb-shirtsinbulk: '\f214';
$wb-shopping-bag: '\f290';
$wb-shopping-basket: '\f291';
$wb-shopping-cart: '\f07a';
$wb-shower: '\f2cc';
$wb-sign-in: '\f090';
$wb-sign-language: '\f2a7';
$wb-signing: '\f2a7';
$wb-sign-out: '\f08b';
$wb-signal: '\f012';
$wb-simplybuilt: '\f215';
$wb-sitemap: '\f0e8';
$wb-skyatlas: '\f216';
$wb-skype: '\f17e';
$wb-slack: '\f198';
$wb-sliders: '\f1de';
$wb-slideshare: '\f1e7';
$wb-smile-o: '\f118';
$wb-snapchat: '\f2ab';
$wb-snapchat-ghost: '\f2ac';
$wb-snapchat-square: '\f2ad';
$wb-snowflake-o: '\f2dc';
$wb-sort: '\f0dc';
$wb-unsorted: '\f0dc';
$wb-sort-alpha-asc: '\f15d';
$wb-sort-alpha-desc: '\f15e';
$wb-sort-amount-asc: '\f160';
$wb-sort-amount-desc: '\f161';
$wb-sort-asc: '\f0de';
$wb-sort-up: '\f0de';
$wb-sort-desc: '\f0dd';
$wb-sort-down: '\f0dd';
$wb-sort-numeric-asc: '\f162';
$wb-sort-numeric-desc: '\f163';
$wb-soundcloud: '\f1be';
$wb-space-shuttle: '\f197';
$wb-spinner: '\f110';
$wb-spoon: '\f1b1';
$wb-spotify: '\f1bc';
$wb-square: '\f0c8';
$wb-square-o: '\f096';
$wb-stack-exchange: '\f18d';
$wb-stack-overflow: '\f16c';
$wb-star: '\f005';
$wb-star-half: '\f089';
$wb-star-half-empty: '\f123';
$wb-star-half-full: '\f123';
$wb-star-half-o: '\f123';
$wb-star-o: '\f006';
$wb-steam: '\f1b6';
$wb-steam-square: '\f1b7';
$wb-step-backward: '\f048';
$wb-step-forward: '\f051';
$wb-stethoscope: '\f0f1';
$wb-sticky-note: '\f249';
$wb-sticky-note-o: '\f24a';
$wb-stop: '\f04d';
$wb-stop-circle: '\f28d';
$wb-stop-circle-o: '\f28e';
$wb-street-view: '\f21d';
$wb-strikethrough: '\f0cc';
$wb-stumbleupon: '\f1a4';
$wb-stumbleupon-circle: '\f1a3';
$wb-subscript: '\f12c';
$wb-subway: '\f239';
$wb-suitcase: '\f0f2';
$wb-sun-o: '\f185';
$wb-superpowers: '\f2dd';
$wb-superscript: '\f12b';
$wb-table: '\f0ce';
$wb-tablet: '\f10a';
$wb-tag: '\f02b';
$wb-tags: '\f02c';
$wb-tasks: '\f0ae';
$wb-telegram: '\f2c6';
$wb-television: '\f26c';
$wb-tv: '\f26c';
$wb-tencent-weibo: '\f1d5';
$wb-terminal: '\f120';
$wb-text-height: '\f034';
$wb-text-width: '\f035';
$wb-th: '\f00a';
$wb-th-large: '\f009';
$wb-th-list: '\f00b';
$wb-themeisle: '\f2b2';
$wb-thermometer: '\f2c7';
$wb-thermometer-4: '\f2c7';
$wb-thermometer-full: '\f2c7';
$wb-thermometer-0: '\f2cb';
$wb-thermometer-empty: '\f2cb';
$wb-thermometer-1: '\f2ca';
$wb-thermometer-quarter: '\f2ca';
$wb-thermometer-2: '\f2c9';
$wb-thermometer-half: '\f2c9';
$wb-thermometer-3: '\f2c8';
$wb-thermometer-three-quarters: '\f2c8';
$wb-thumb-tack: '\f08d';
$wb-thumbs-down: '\f165';
$wb-thumbs-o-down: '\f088';
$wb-thumbs-o-up: '\f087';
$wb-thumbs-up: '\f164';
$wb-ticket: '\f145';
$wb-times-circle: '\f057';
$wb-times-circle-o: '\f05c';
$wb-times-rectangle: '\f2d3';
$wb-window-close: '\f2d3';
$wb-times-rectangle-o: '\f2d4';
$wb-window-close-o: '\f2d4';
$wb-tint: '\f043';
$wb-toggle-off: '\f204';
$wb-toggle-on: '\f205';
$wb-trademark: '\f25c';
$wb-train: '\f238';
$wb-transgender-alt: '\f225';
$wb-trash: '\f1f8';
$wb-trash-o: '\f014';
$wb-tree: '\f1bb';
$wb-trello: '\f181';
$wb-tripadvisor: '\f262';
$wb-trophy: '\f091';
$wb-truck: '\f0d1';
$wb-try: '\f195';
$wb-turkish-lira: '\f195';
$wb-tty: '\f1e4';
$wb-tumblr: '\f173';
$wb-tumblr-square: '\f174';
$wb-twitch: '\f1e8';
$wb-twitter: '\f099';
$wb-twitter-square: '\f081';
$wb-umbrella: '\f0e9';
$wb-underline: '\f0cd';
$wb-universal-access: '\f29a';
$wb-unlock: '\f09c';
$wb-unlock-alt: '\f13e';
$wb-upload: '\f093';
$wb-usb: '\f287';
$wb-user: '\f007';
$wb-user-circle: '\f2bd';
$wb-user-circle-o: '\f2be';
$wb-user-md: '\f0f0';
$wb-user-o: '\f2c0';
$wb-user-plus: '\f234';
$wb-user-secret: '\f21b';
$wb-user-times: '\f235';
$wb-venus: '\f221';
$wb-venus-double: '\f226';
$wb-venus-mars: '\f228';
$wb-viacoin: '\f237';
$wb-viadeo: '\f2a9';
$wb-viadeo-square: '\f2aa';
$wb-video-camera: '\f03d';
$wb-video: '\f03d';
$wb-vimeo: '\f27d';
$wb-vimeo-square: '\f194';
$wb-vine: '\f1ca';
$wb-vk: '\f189';
$wb-volume-control-phone: '\f2a0';
$wb-volume-down: '\f027';
$wb-volume-off: '\f026';
$wb-volume-up: '\f028';
$wb-wechat: '\f1d7';
$wb-weixin: '\f1d7';
$wb-weibo: '\f18a';
$wb-whatsapp: '\f232';
$wb-wheelchair: '\f193';
$wb-wheelchair-alt: '\f29b';
$wb-wifi: '\f1eb';
$wb-wikipedia-w: '\f266';
$wb-window-maximize: '\f2d0';
$wb-window-minimize: '\f2d1';
$wb-window-restore: '\f2d2';
$wb-windows: '\f17a';
$wb-wordpress: '\f19a';
$wb-wpbeginner: '\f297';
$wb-wpexplorer: '\f2de';
$wb-wpforms: '\f298';
$wb-wrench: '\f0ad';
$wb-xing: '\f168';
$wb-xing-square: '\f169';
$wb-y-combinator: '\f23b';
$wb-yc: '\f23b';
$wb-yahoo: '\f19e';
$wb-yelp: '\f1e9';
$wb-yoast: '\f2b1';
$wb-youtube: '\f167';
$wb-youtube-play: '\f16a';
$wb-youtube-square: '\f166';


