.col-form-label {
  padding-top: -webkit-calc(.429rem + 1px);
  padding-top: calc(.429rem + 1px);
  padding-bottom: -webkit-calc(.429rem + 1px);
  padding-bottom: calc(.429rem + 1px);
  margin-bottom: 0;
  line-height: 1.571429;
  }


sup.field-required {
  color: #ff3547 !important;
  
  }

.form-check-input[type=checkbox] + label, label.btn input[type=checkbox] + label {
  line-height: 1.8rem;
  }

#alert_box {
  font-weight: 400;
  }

strong {
  font-weight: 600;
  }

.was-validated .custom-select:invalid, .custom-select.is-invalid, .form-control.is-invalid {
  border-color: #f44336;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'12\' height=\'12\' fill=\'none\' stroke=\'%23dc3545\' viewBox=\'0 0 12 12\'%3e%3ccircle cx=\'6\' cy=\'6\' r=\'4.5\'/%3e%3cpath stroke-linejoin=\'round\' d=\'M5.8 3.6h.4L6 6.5z\'/%3e%3ccircle cx=\'6\' cy=\'8.2\' r=\'.6\' fill=\'%23dc3545\' stroke=\'none\'/%3e%3c/svg%3e');
  background-repeat: no-repeat;
  background-position: right calc(1.2em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }


.wall-attrs {
  list-style: none
  }

.wall-attrs .success {
  color: #11c26d
  }

.wall-attrs .attrs-meta {
  line-height: 30px
  }

.wall-attrs i {
  margin-right: 2px
  }

.wall-attrs .avatar {
  margin-left: 2px
  }

.wall-comment {
  position: relative;
  margin-bottom: 15px
  }

.wall-comment .comment-operation {
  position: absolute;
  right: 0;
  top: -10px;
  display: none
  }

.wall-comment:focus .comment-operation, .wall-comment:hover .comment-operation {
  display: block
  }

.wall-comment-reply .reply-operation {
  display: none
  }

.wall-comment-reply .reply-operation.active {
  display: block;
  margin-top: 15px
  }

.wall-person-info {
  position: relative;
  padding-left: 190px;
  padding-bottom: 45px
  }

.wall-person-info .person-avatar {
  position: absolute;
  top: -75px;
  left: 30px;
  width: 140px;
  height: 140px
  }

.wall-person-info .person-name {
  position: absolute;
  top: -55px;
  left: 190px;
  margin: 0
  }

.wall-person-info .person-name a {
  color: #fff
  }

.wall-person-info .person-name a:focus, .wall-person-info .person-name a:hover {
  text-decoration: none
  }

.wall-posting .form-control {
  border: none;
  border-bottom: 1px solid #e4eaec;
  border-radius: 0
  }

.wall-recent-comments .comments-view {
  border-top: 1px solid #e4eaec;
  padding: 10px 0;
  text-align: center
  }

@media (min-width: 1200px) {
  .page-fb-wall .card-img-top {
    height: 350px
    }
  }

@media (max-width: 479px) {
  .wall-person-info .person-name {
    font-size: 24px
    }
  }

.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  vertical-align: bottom;
  border-radius: 1000px
  }

.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%
  }

.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px
  }

.avatar-online i {
  background-color: #11c26d
  }

.avatar-off i {
  background-color: #526069
  }

.avatar-busy i {
  background-color: #eb6709
  }

.avatar-away i {
  background-color: #ff4c52
  }

.avatar-100 {
  width: 100px
  }

.avatar-100 i {
  width: 20px;
  height: 20px
  }

.avatar-lg {
  width: 50px
  }

.avatar-lg i {
  width: 12px;
  height: 12px
  }

.avatar-sm {
  width: 30px
  }

.avatar-sm i {
  width: 8px;
  height: 8px
  }

.avatar-xs {
  width: 20px
  }

.avatar-xs i {
  width: 7px;
  height: 7px
  }

.status {
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%
  }

.status-online {
  background-color: #11c26d
  }

.status-off {
  background-color: #526069
  }

.status-busy {
  background-color: #eb6709
  }

.status-away {
  background-color: #ff4c52
  }

.status-lg {
  width: 14px;
  height: 14px
  }

.status-md {
  width: 10px;
  height: 10px
  }

.status-sm {
  width: 8px;
  height: 8px
  }

.status-xs {
  width: 7px;
  height: 7px
  }

.blue-grey-400 {
  color: #a3afb7 !important;
  }

[readonly='readonly'] {
  pointer-events: none;
  }

.btn.btn-outline-primary[readonly='readonly'] {
  background: rgba(7, 79, 149, .25) !important;
  }

.btn-icon, .btn.icon {
  padding: 0.715rem;
  line-height: 1em;
  font-size: 14px;
  }

.card .card-block > :first-child {
  margin-top: 0;
  }

.btn-round {
  border-radius: 1000px;
  }

.user-release-input {
  border: none;
  border-bottom: 1px solid #e4eaec;
  border-radius: 0;
  color: #76838f;
  background-color: #fff;
  background-image: none;
  display: block;
  padding: 0.715rem 1.286rem;
  font-size: 1.286rem;
  line-height: 1.333333;
  width: 100%;
  }

.page-header-bordered {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  }

.page-header-tabs {
  padding-bottom: 0;
  }

.nav-tabs-line .nav-link:hover {
  border-bottom-color: #ccd5db;
  }

.nav-tabs-line .nav-link:focus, .nav-tabs-line .nav-link:hover {
  background-color: transparent;
  }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent transparent #e4eaec;
  }

.nav-tabs .nav-link {
  color: #76838f;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  }

.page-header-tabs .nav-tabs-line > li > a {
  padding: 5px 20px;
  }

.btn-inverse {
  color: #111;
  background-color: #fff;
  border: solid 1px #e4eaec;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

.btn-inverse.focus, .btn-inverse.hover, .btn-inverse:focus, .btn-inverse:hover {
  color: #76838f;
  background-color: #fff;
  border-color: #f3f7f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

.input-search .input-search-icon + .form-control {
  padding-left: 3.073rem;
  }

.input-search-dark .form-control {
  background: #f3f7f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

.input-search .form-control {
  border-radius: 200px;
  }

ul.nav-tabs-line > li.nav-item, ul.nav-tabs-line > li.nav-item > a.nav-link {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  }

.md-pills .nav-link.active:hover {
  background: #ff884f !important;
  color: #0a070d !important;
  }

.page-header-actions .btn-icon {
  margin-left: 6px;
  }

.btn-icon.btn-sm, .btn.icon.btn-sm {
  padding: 0.572rem;
  font-size: 1rem;
  }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  }

.page-header-actions > * {
  margin-bottom: .375rem;
  }


.btn-inverse {
  color: #111;
  background-color: #fff;
  border-color: #e4eaec;
  -webkit-box-shadow: none;
  box-shadow: none;
  }


.btn-round,
.btn-round:active, .btn-round:hover {
  border-radius: 1000px !important;
  box-shadow: none !important;
  }

div.page-header-actions .btn i {
  width: 1rem !important;
  text-align: center !important;
  margin: 1px 2px 1px 2px !important;
  height: 1rem;
  line-height: 1rem !important;
  vertical-align: middle;
  }

.btn-group-sm > .btn, .btn-sm {
  padding: 0.3rem 0.3rem !important;
  font-size: .64rem !important; /*.858rem !important;*/
  line-height: 1.5 !important;
  border-radius: 0.143rem;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  }


.btn-icon, .btn.icon {
  padding: 0.715rem;
  line-height: 1em;
  }

div.page-header-actions .btn span {
  margin-right: 1.5rem
  }

.trips-skin .btn-primary:not([disabled]):not(.disabled):active, .trips-skin .btn-primary:not([disabled]):not(.disabled).active, .show > .trips-skin .btn-primary.dropdown-toggle {
  background-color: #0b51c5 !important;
  }


.fa, .fas, .far, .fal, .fad, .fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  text-align: center;
  vertical-align: middle;
  }

.btn-rounded {
  
  }
