.col-form-label {
  padding-top: -webkit-calc(.429rem + 1px);
  padding-top: calc(.429rem + 1px);
  padding-bottom: -webkit-calc(.429rem + 1px);
  padding-bottom: calc(.429rem + 1px);
  margin-bottom: 0;
  line-height: 1.571429;
  }


sup.field-required {
  color: #ff3547 !important;
  
  }

.form-check-input[type=checkbox] + label, label.btn input[type=checkbox] + label {
  line-height: 1.8rem;
  }

#alert_box {
  font-weight: 400;
  }

strong {
  font-weight: 600;
  }
