$wi-regular-font-family: 'wi-regular-400' !default;
$wi-regular-font-path: '/public/font/web_fonts' !default;
$wi-regular-plus: '\e93c';
$wi-regular-address-book: '\e901';
$wi-regular-address-card: '\e902';
$wi-regular-angry: '\e903';
$wi-regular-arrow-alt-circle-down: '\e904';
$wi-regular-arrow-alt-circle-left: '\e905';
$wi-regular-arrow-alt-circle-right: '\e906';
$wi-regular-arrow-alt-circle-up: '\e907';
$wi-regular-bell: '\e908';
$wi-regular-bell-slash: '\e909';
$wi-regular-bookmark: '\e90a';
$wi-regular-building: '\e90b';
$wi-regular-calendar: '\e90c';
$wi-regular-calendar-alt: '\e90d';
$wi-regular-calendar-check: '\e90e';
$wi-regular-calendar-minus: '\e90f';
$wi-regular-calendar-plus: '\e910';
$wi-regular-calendar-times: '\e911';
$wi-regular-caret-square-down: '\e912';
$wi-regular-caret-square-left: '\e913';
$wi-regular-caret-square-right: '\e914';
$wi-regular-caret-square-up: '\e915';
$wi-regular-chart-bar: '\e916';
$wi-regular-check-circle: '\e917';
$wi-regular-check-square: '\e918';
$wi-regular-circle: '\e919';
$wi-regular-clipboard: '\e91a';
$wi-regular-clock: '\e91b';
$wi-regular-clone: '\e91c';
$wi-regular-closed-captioning: '\e91d';
$wi-regular-comment: '\e91e';
$wi-regular-comment-alt: '\e91f';
$wi-regular-comment-dots: '\e920';
$wi-regular-comments: '\e921';
$wi-regular-compass: '\e922';
$wi-regular-copy: '\e923';
$wi-regular-copyright: '\e924';
$wi-regular-credit-card: '\e925';
$wi-regular-dizzy: '\e926';
$wi-regular-dot-circle: '\e927';
$wi-regular-edit: '\e928';
$wi-regular-envelope: '\e929';
$wi-regular-envelope-open: '\e92a';
$wi-regular-eye: '\e92b';
$wi-regular-eye-slash: '\e92c';
$wi-regular-file: '\e92d';
$wi-regular-file-alt: '\e92e';
$wi-regular-file-archive: '\e92f';
$wi-regular-file-audio: '\e930';
$wi-regular-file-code: '\e931';
$wi-regular-file-excel: '\e932';
$wi-regular-file-image: '\e933';
$wi-regular-file-pdf: '\e934';
$wi-regular-file-powerpoint: '\e935';
$wi-regular-file-video: '\e936';
$wi-regular-file-word: '\e937';
$wi-regular-flag: '\e938';
$wi-regular-flushed: '\e939';
$wi-regular-folder: '\e93a';
$wi-regular-folder-open: '\e93b';
$wi-regular-font-awesome-logo-full: '\e93c';
$wi-regular-frown: '\e93d';
$wi-regular-frown-open: '\e93e';
$wi-regular-futbol: '\e93f';
$wi-regular-gem: '\e940';
$wi-regular-grimace: '\e941';
$wi-regular-grin: '\e942';
$wi-regular-grin-alt: '\e943';
$wi-regular-grin-beam: '\e944';
$wi-regular-grin-beam-sweat: '\e945';
$wi-regular-grin-hearts: '\e946';
$wi-regular-grin-squint: '\e947';
$wi-regular-grin-squint-tears: '\e948';
$wi-regular-grin-stars: '\e949';
$wi-regular-grin-tears: '\e94a';
$wi-regular-grin-tongue: '\e94b';
$wi-regular-grin-tongue-squint: '\e94c';
$wi-regular-grin-tongue-wink: '\e94d';
$wi-regular-grin-wink: '\e94e';
$wi-regular-hand-lizard: '\e94f';
$wi-regular-hand-paper: '\e950';
$wi-regular-hand-peace: '\e951';
$wi-regular-hand-point-down: '\e952';
$wi-regular-hand-pointer: '\e953';
$wi-regular-hand-point-left: '\e954';
$wi-regular-hand-point-right: '\e955';
$wi-regular-hand-point-up: '\e956';
$wi-regular-hand-rock: '\e957';
$wi-regular-hand-scissors: '\e958';
$wi-regular-handshake: '\e959';
$wi-regular-hand-spock: '\e95a';
$wi-regular-hdd: '\e95b';
$wi-regular-heart: '\e95c';
$wi-regular-hospital: '\e95d';
$wi-regular-hourglass: '\e95e';
$wi-regular-id-badge: '\e95f';
$wi-regular-id-card: '\e960';
$wi-regular-image: '\e961';
$wi-regular-images: '\e962';
$wi-regular-keyboard: '\e963';
$wi-regular-kiss: '\e964';
$wi-regular-kiss-beam: '\e965';
$wi-regular-kiss-wink-heart: '\e966';
$wi-regular-laugh: '\e967';
$wi-regular-laugh-beam: '\e968';
$wi-regular-laugh-squint: '\e969';
$wi-regular-laugh-wink: '\e96a';
$wi-regular-lemon: '\e96b';
$wi-regular-life-ring: '\e96c';
$wi-regular-lightbulb: '\e96d';
$wi-regular-list-alt: '\e96e';
$wi-regular-map: '\e96f';
$wi-regular-meh: '\e970';
$wi-regular-meh-blank: '\e971';
$wi-regular-meh-rolling-eyes: '\e972';
$wi-regular-minus-square: '\e973';
$wi-regular-money-bill-alt: '\e974';
$wi-regular-moon: '\e975';
$wi-regular-newspaper: '\e976';
$wi-regular-object-group: '\e977';
$wi-regular-object-ungroup: '\e978';
$wi-regular-paper-plane: '\e979';
$wi-regular-pause-circle: '\e97a';
$wi-regular-play-circle: '\e97b';
$wi-regular-plus-square: '\e97c';
$wi-regular-question-circle: '\e97d';
$wi-regular-registered: '\e97e';
$wi-regular-sad-cry: '\e97f';
$wi-regular-sad-tear: '\e980';
$wi-regular-save: '\e981';
$wi-regular-share-square: '\e982';
$wi-regular-smile: '\e983';
$wi-regular-smile-beam: '\e984';
$wi-regular-smile-wink: '\e985';
$wi-regular-snowflake: '\e986';
$wi-regular-square: '\e987';
$wi-regular-star: '\e988';
$wi-regular-star-half: '\e989';
$wi-regular-sticky-note: '\e98a';
$wi-regular-stop-circle: '\e98b';
$wi-regular-sun: '\e98c';
$wi-regular-surprise: '\e98d';
$wi-regular-thumbs-down: '\e98e';
$wi-regular-thumbs-up: '\e98f';
$wi-regular-times-circle: '\e990';
$wi-regular-tired: '\e991';
$wi-regular-trash-alt: '\e992';
$wi-regular-user: '\e993';
$wi-regular-user-circle: '\e994';
$wi-regular-window-close: '\e995';
$wi-regular-window-maximize: '\e996';
$wi-regular-window-minimize: '\e997';
$wi-regular-window-restore: '\e998';
$wi-regular-info-circle: '\e900';

