@use 'sass:math';
@import './abstracts/variables';

@font-face {
  font-family: 'dropify';
  src: url('/public/font/dropify/dropify.eot');
  src: url('/public/font/dropify/dropify.eot#iefix') format('embedded-opentype'), url('/public/font/dropify/dropify.woff') format('woff'), url('/public/font/dropify/dropify.ttf') format('truetype'), url('/public/font/dropify/dropify.svg#dropify') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='dropify-font-']:before, [class*=' dropify-font-']:before, .dropify-font:before, .dropify-wrapper .dropify-message span.file-icon:before {
  font-family: 'dropify';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-left: .2em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.dropify-font-upload:before, .dropify-wrapper .dropify-message span.file-icon:before {
  content: '\e800';
}

.dropify-font-file:before {
  content: '\e801';
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #37474f;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: .5715rem;
}


.debug_demo {
  padding: .715rem 1.072rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.7;
  display: block;
  padding-right: .5rem;
  padding-left: .5rem;
  font-size: 1rem;
}


li.logo-sn {
  max-height: 4.5rem;
  min-height: 4.5rem;
  padding: 0;
}

html, body {
  font-size: 11px;
  line-height: 1.7;
  min-height: 100vh;
  height: fit-content;
  overflow-x: hidden;
}

.debug_demo {
  background: $custom-primary-color;
  color: choose-contrast-color($custom-primary-color);
}

.debug_demo:after {
  content: 'x-small';
}

.page {
  padding-left: 0;
}


@media (min-width: $sm) {
  html, body {
    font-size: 12px;
    --lh: 1.7rem;
    --fs: 12px;
    line-height: var(--lh);
  }
  
  .debug_demo {
    background: $custom-secondary-color;
    color: choose-contrast-color($custom-secondary-color);
  }
  
  .debug_demo:after {
    content: 'small';
  }
}

@media (min-width: $md) {
  html, body {
    font-size: 13px;
    --fs: 13px;
    --lh: 1.7rem;
    line-height: var(--lh);
  }
  
  .debug_demo {
    background: $custom-info-color;
    color: choose-contrast-color($custom-info-color);
  }
  
  .debug_demo:after {
    content: 'medium';
  }
  
  .page {
    padding-left: 0 !important;
  }
}

@media (min-width: $lg) {
  html, body {
    font-size: 14px;
    --lh: 1.7rem;
    --fs: 14px;
    line-height: var(--lh);
  }
  
  .debug_demo {
    background: $custom-success-color;
    color: choose-contrast-color($custom-success-color);
  }
  
  .debug_demo:after {
    content: 'large';
  }
  
  .page {
    padding-left: 0 !important;
  }
}

@media (min-width: $xl) {
  html, body {
    font-size: 14px;
    --fs: 14px;
    --lh: 1.7rem;
    line-height: var(--lh);
  }
  
  .debug_demo {
    background: $custom-warning-color;
    color: choose-contrast-color($custom-warning-color);
  }
  
  .debug_demo:after {
    content: 'x-large';
  }
  
  .page {
    padding-left: 240px !important;
  }
}

span.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.9)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E');
  cursor: pointer;
}


input:focus-visible {
  outline: none;
}

div.page.login-form {
  padding-left: 0 !important;
  height: 95vh !important;
}

.modal-header {
  padding: 15px 20px;
  padding-right: 40px;
  border-bottom: none;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top-left-radius: .286rem;
  border-top-right-radius: .286rem;
  
  .modal-title {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 0;
  }
  
  .close {
    order: 2;
    padding: 0;
    margin: 1px -15px -15px auto;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: #000000;
    text-shadow: none;
    opacity: .5;
  }
}

.modal-simple .modal-header + .modal-body {
  padding-top: 0;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.43rem;
}


.panel-heading-tab > .nav-tabs .nav-link.active, .panel-heading-tab > .nav-tabs .nav-link:active {
  color: #37474f;
  background-color: #ffffff;
}

[class*=' wb-'], [class^=wb-] {
  font-family: 'Web Icons';
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-rendering: auto;
}

.icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-rendering: auto;
  line-height: 1;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.panel-heading-tab > .nav-tabs .nav-link.hover, .panel-heading-tab > .nav-tabs .nav-link:hover {
  color: #76838f;
  background: #ffffff;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  border-bottom-color: #ffffff;
}

.panel-title {
  font-size: 1.8rem;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.5rem;
  color: #37474f;
}

.panel-heading-tab > .nav-tabs .nav-link:hover {
  background: #ffffff;
  color: $fill-dark-secondary;
}


.double-nav .button-collapse {
  
  margin-right: 1.5rem;
  margin-left: 0;
  font-size: 1.4rem;
}

.panel-heading-tab > .nav-tabs .nav-link.disabled {
  color: #6c757d;
  border-color: transparent;
  cursor: auto;
}

/*
select:-internal-list-box option:checked {
  background-color: -internal-light-dark(rgb(206, 206, 206), rgb(84, 84, 84)) !important;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255)) !important;
}
*/
.nav-link {
  position: relative;
  display: block;
  padding: .715rem 1.072rem;
  overflow: hidden
}

.nav-link:focus {
  outline: 0
}

.nav-link:focus, .nav-link:hover {
  background-color: #f3f7f9
}

.nav-link.disabled:focus, .nav-link.disabled:hover {
  background-color: transparent
}

.nav-link .close {
  display: inline-block;
  margin-left: 10px
}

.nav-quick {
  background-color: #ffffff;
  border-radius: .215rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin-bottom: 22px;
  margin-left: 0;
  margin-right: 0;
  padding: 0
}

.nav-quick .nav-item {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  text-align: center
}

.nav-quick .nav-link {
  padding: 1.143rem 0;
  color: #76838f
}

.nav-quick .nav-link .icon {
  display: block;
  margin-bottom: .2rem;
  font-size: 2.286rem
}

.nav-quick .badge, .nav-quick .badge-pill {
  position: absolute;
  top: 0;
  right: 0
}

.nav-quick-sm .nav-link {
  padding: .858rem 0
}

.nav-quick-sm .nav-link .icon {
  font-size: 1.7145rem
}

.nav-quick-lg .nav-link {
  padding: 1.572rem 0
}

.nav-quick-lg .nav-link .icon {
  font-size: 2.8575rem
}

.nav-quick-bordered {
  border-top: 1px solid #e4eaec;
  border-left: 1px solid #e4eaec
}

.nav-quick-bordered .nav-item {
  border-right: 1px solid #e4eaec;
  border-bottom: 1px solid #e4eaec
}

.nav-tabs .nav-link {
  color: #76838f;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s
}

.nav-tabs .nav-link > .icon {
  margin-right: .5em;
  line-height: 1
}

.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item.show .nav-link:focus, .nav-tabs .nav-item.show .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
  border-color: transparent;
  border-bottom-color: #3e8ef7
}

.nav-tabs .dropup .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px
}

.nav-pills .nav-link {
  -webkit-transition: border .2s linear 0s, color .2s linear 0s, background-color .2s linear 0s;
  -o-transition: border .2s linear 0s, color .2s linear 0s, background-color .2s linear 0s;
  transition: border .2s linear 0s, color .2s linear 0s, background-color .2s linear 0s
}

.nav-pills-rounded .nav-link {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 1000px
}

.nav-tabs.nav-tabs-bottom {
  border-top: 1px solid #e4eaec;
  border-bottom: none
}

.nav-tabs.nav-tabs-bottom .nav-item {
  margin-top: -1px;
  margin-bottom: 0
}

.nav-tabs.nav-tabs-bottom .nav-link {
  border-radius: 0 0 .286rem .286rem
}

.nav-tabs.nav-tabs-bottom .nav-link:focus, .nav-tabs.nav-tabs-bottom .nav-link:hover {
  border-top-color: #e4eaec;
  border-bottom-color: transparent
}

.nav-tabs-reverse .nav-item {
  float: right
}

.nav-tabs-reverse .nav-item + .nav-item {
  margin-right: 2px;
  margin-left: 0
}

.nav-tabs-solid {
  border-bottom-color: #f3f7f9
}

.nav-tabs-solid .nav-link:hover {
  border-color: transparent
}

.nav-tabs-solid .nav-item.open .nav-link, .nav-tabs-solid .nav-item.open .nav-link:focus, .nav-tabs-solid .nav-item.open .nav-link:hover, .nav-tabs-solid .nav-item.show .nav-link, .nav-tabs-solid .nav-item.show .nav-link:focus, .nav-tabs-solid .nav-item.show .nav-link:hover, .nav-tabs-solid .nav-link.active, .nav-tabs-solid .nav-link.active:focus, .nav-tabs-solid .nav-link.active:hover {
  color: #76838f;
  background-color: #f3f7f9;
  border-color: transparent
}

.nav-tabs-solid ~ .tab-content {
  padding: 1.429rem;
  background-color: #f3f7f9
}

.nav-tabs-solid.nav-tabs-bottom .nav-link.active, .nav-tabs-solid.nav-tabs-bottom .nav-link.active:focus, .nav-tabs-solid.nav-tabs-bottom .nav-link.active:hover {
  border: 0;
}

.nav-tabs-line {
  position: relative
}

.nav-tabs-line .nav-link {
  padding: .715rem 1.429rem;
  border-bottom: 2px solid transparent
}

.nav-tabs-line .nav-link:focus, .nav-tabs-line .nav-link:hover {
  background-color: transparent
}

.nav-tabs-line .nav-link:hover {
  border-bottom-color: #ccd5db
}

.nav-tabs-line .nav-item.open .nav-link, .nav-tabs-line .nav-item.open .nav-link:focus, .nav-tabs-line .nav-item.open .nav-link:hover, .nav-tabs-line .nav-item.show .nav-link, .nav-tabs-line .nav-item.show .nav-link:focus, .nav-tabs-line .nav-item.show .nav-link:hover, .nav-tabs-line .nav-link.active, .nav-tabs-line .nav-link.active:focus, .nav-tabs-line .nav-link.active:hover {
  color: #3e8ef7;
  background-color: transparent;
  border-bottom: 2px solid #3e8ef7
}

.nav-tabs-line .dropdown-menu {
  margin-top: 0
}

.nav-tabs-line .dropup .dropdown-menu {
  margin-bottom: 0
}

.nav-tabs-line .nav-item.open > .nav-link, .nav-tabs-line .nav-item.open > .nav-link:focus, .nav-tabs-line .nav-item.open > .nav-link:hover, .nav-tabs-line .nav-item.show > .nav-link, .nav-tabs-line .nav-item.show > .nav-link:focus, .nav-tabs-line .nav-item.show > .nav-link:hover {
  border-bottom-color: #3e8ef7
}

.nav-tabs-line.nav-tabs-bottom .nav-link {
  border-top: 2px solid transparent;
  border-bottom: none
}

.nav-tabs-line.nav-tabs-bottom .nav-link:hover {
  border-top-color: #ccd5db;
  border-bottom-color: transparent
}

.nav-tabs-line.nav-tabs-bottom .nav-item.open .nav-link, .nav-tabs-line.nav-tabs-bottom .nav-item.open .nav-link:focus, .nav-tabs-line.nav-tabs-bottom .nav-item.open .nav-link:hover, .nav-tabs-line.nav-tabs-bottom .nav-item.show .nav-link, .nav-tabs-line.nav-tabs-bottom .nav-item.show .nav-link:focus, .nav-tabs-line.nav-tabs-bottom .nav-item.show .nav-link:hover, .nav-tabs-line.nav-tabs-bottom .nav-link.active, .nav-tabs-line.nav-tabs-bottom .nav-link.active:focus, .nav-tabs-line.nav-tabs-bottom .nav-link.active:hover {
  border-top: 2px solid #3e8ef7;
  border-bottom: none
}

.nav-tabs-line.nav-tabs-bottom .nav-item.open > .nav-link, .nav-tabs-line.nav-tabs-bottom .nav-item.open > .nav-link:focus, .nav-tabs-line.nav-tabs-bottom .nav-item.open > .nav-link:hover, .nav-tabs-line.nav-tabs-bottom .nav-item.show > .nav-link, .nav-tabs-line.nav-tabs-bottom .nav-item.show > .nav-link:focus, .nav-tabs-line.nav-tabs-bottom .nav-item.show > .nav-link:hover {
  border-top-color: #3e8ef7
}

.tabs-line-top {
  border-bottom: 1px solid #e4eaec
}

.tabs-line-top .nav-item .nav-link, .tabs-line-top .nav-link {
  bottom: -1px;
  border-top: 2px solid transparent;
  border-bottom-color: transparent
}

.tabs-line-top .nav-item .nav-link:hover, .tabs-line-top .nav-link:hover {
  border-top: 2px solid #ccd5db;
  border-bottom-color: transparent
}

.tabs-line-top .nav-item.open .nav-link, .tabs-line-top .nav-item.open .nav-link:focus, .tabs-line-top .nav-item.open .nav-link:hover, .tabs-line-top .nav-item.show .nav-link, .tabs-line-top .nav-item.show .nav-link:focus, .tabs-line-top .nav-item.show .nav-link:hover, .tabs-line-top .nav-link.active, .tabs-line-top .nav-link.active:focus, .tabs-line-top .nav-link.active:hover {
  color: #3e8ef7;
  background-color: transparent;
  border-top: 2px solid #3e8ef7;
  border-right: 1px solid #e4eaec;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #e4eaec
}

.nav-tabs-vertical::after {
  display: block;
  clear: both;
  content: ''
}

.nav-tabs-vertical .nav-tabs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  float: left;
  border-right: 1px solid #e4eaec;
  border-bottom: none
}

.nav-tabs-vertical .nav-tabs .nav-item {
  float: none;
  margin-right: -1px;
  margin-bottom: 2px;
  margin-left: 0
}

.nav-tabs-vertical .nav-tabs .nav-link {
  border-radius: .286rem 0 0 .286rem
}

.nav-tabs-vertical .nav-tabs .nav-link:hover {
  border-right-color: #e4eaec;
  border-bottom-color: transparent
}

.nav-tabs-vertical .nav-tabs .nav-link.active, .nav-tabs-vertical .nav-tabs .nav-link.active:focus, .nav-tabs-vertical .nav-tabs .nav-link.active:hover {
  border-right-color: #3e8ef7;
  border-bottom-color: transparent
}

.nav-tabs-vertical .nav-tabs-reverse {
  float: right;
  border-right: none;
  border-left: 1px solid #e4eaec
}

.nav-tabs-vertical .nav-tabs-reverse .nav-item {
  margin-right: 0;
  margin-left: -1px
}

.nav-tabs-vertical .nav-tabs-reverse .nav-link {
  border-radius: 0 .286rem .286rem 0
}

.nav-tabs-vertical .nav-tabs-reverse .nav-link:hover {
  border-right-color: transparent;
  border-left-color: #e4eaec
}

.nav-tabs-vertical .nav-tabs-reverse .nav-link.active, .nav-tabs-vertical .nav-tabs-reverse .nav-link.active:focus, .nav-tabs-vertical .nav-tabs-reverse .nav-link.active:hover {
  border-right-color: transparent;
  border-left-color: #3e8ef7
}

.nav-tabs-vertical .nav-tabs-solid {
  border-right-color: #f3f7f9
}

.nav-tabs-vertical .nav-tabs-solid .nav-link:hover {
  border-color: transparent
}

.nav-tabs-vertical .nav-tabs-solid .nav-link.active, .nav-tabs-vertical .nav-tabs-solid .nav-link.active:focus, .nav-tabs-vertical .nav-tabs-solid .nav-link.active:hover {
  border-color: transparent
}

.nav-tabs-vertical .nav-tabs-solid + .tab-content {
  padding: 1.429rem
}

.nav-tabs-vertical .nav-tabs-solid.nav-tabs-reverse {
  border-left-color: #f3f7f9
}

.nav-tabs-vertical .nav-tabs-line .nav-link {
  border-right: 2px solid transparent;
  border-bottom: none
}

.nav-tabs-vertical .nav-tabs-line .nav-link:hover {
  border-right-color: #ccd5db
}

.nav-tabs-vertical .nav-tabs-line .nav-link.active, .nav-tabs-vertical .nav-tabs-line .nav-link.active:focus, .nav-tabs-vertical .nav-tabs-line .nav-link.active:hover {
  border-right: 2px solid #3e8ef7;
  border-bottom: none
}

.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link {
  border-right-width: 1px;
  border-left: 2px solid transparent
}

.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link:hover {
  border-color: transparent;
  border-left-color: #ccd5db
}

.nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link.active, .nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link.active:focus, .nav-tabs-vertical .nav-tabs-line.nav-tabs-reverse .nav-link.active:hover {
  border-right: 1px solid transparent;
  border-left: 2px solid #3e8ef7
}

.nav-tabs-vertical .tab-content {
  overflow: hidden
}

.nav-tabs-inverse .nav-link.active, .nav-tabs-inverse .nav-link.active:focus, .nav-tabs-inverse .nav-link.active:hover {
  border-color: transparent
}

.nav-tabs-inverse .nav-tabs-solid {
  border-bottom-color: #ffffff
}

.nav-tabs-inverse .nav-tabs-solid .nav-link.active, .nav-tabs-inverse .nav-tabs-solid .nav-link.active:focus, .nav-tabs-inverse .nav-tabs-solid .nav-link.active:hover {
  color: #76838f;
  background-color: #ffffff
}

.nav-tabs-inverse.nav-tabs-vertical .nav-link.active, .nav-tabs-inverse.nav-tabs-vertical .nav-link.active:focus, .nav-tabs-inverse.nav-tabs-vertical .nav-link.active:hover {
  border-color: transparent
}

.nav-tabs-inverse.nav-tabs-vertical .nav-tabs-solid {
  border-right-color: #ffffff
}

.nav-tabs-inverse.nav-tabs-vertical .nav-tabs-solid.nav-tabs-reverse {
  border-left-color: #ffffff
}

.nav-tabs-inverse .tab-content {
  background: #ffffff
}

.nav-tabs-animate .tab-content {
  overflow: hidden
}

.nav-tabs-lg .nav-link {
  padding: .858rem 1.429rem;
  font-size: 1.286rem;
  line-height: 1.333333
}

.nav-tabs-sm .nav-link {
  padding: .358rem .715rem;
  font-size: .858rem;
  line-height: 1.5
}

.nav-tabs-vertical .nav-tabs-solid + .tab-content {
  padding: .75rem;
}

.panel.is-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.nav-tabs-vertical .nav-tabs .nav-item {
  margin-bottom: 0px;
}

.panel > .nav-tabs-vertical .nav-tabs > li > a {
  font-weight: 300
}

.nav-tabs-vertical .nav-tabs-solid .nav-link.active,
.nav-tabs-vertical .nav-tabs-solid .nav-link.active:focus,
.nav-tabs-vertical .nav-tabs-solid .nav-link.active:hover {
  font-weight: 400
}

.trips-skin input[type=email]:focus:not([readonly]), .trips-skin input[type=text]:focus:not([readonly]), .trips-skin input[type=password]:focus:not([readonly]), .trips-skin input[type=number]:focus:not([readonly]), .trips-skin input[type=url]:focus:not([readonly]), .trips-skin input[type=email]:focus:not([readonly]), .trips-skin input[type=tel]:focus:not([readonly]), .trips-skin textarea.md-textarea:focus:not([readonly]) {
  border-color: #ff884f;
  box-shadow: none;
}

.panel-actions,
.but_toggle {
  color: #a3afb7;
}


.panel-actions:hover, .panel-actions:focus, .panel-actions:active,
.but_toggle:hover, .but_toggle:focus, .but_toggle:active {
  color: #526069;
}

.trips-skin .navbar.double-nav a:focus,
.trips-skin .navbar.double-nav a:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, .2)
}


.nav-link:focus, .nav-link:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, .2)
}

.nav-link.debug_demo:hover {
  background-color: initial;
  color: initial
}

.tab-pane {
  height: 100%;
  
  form {
    height: 100%;
  }
}

.panel > .nav-tabs-vertical .nav-tabs {
  color: #76838f;
  background-color: #f3f7f9;
}

.nav-tabs-vertical .nav-tabs-solid .nav-link.active,
.nav-tabs-vertical .nav-tabs-solid .nav-link.active:focus,
.nav-tabs-vertical .nav-tabs-solid .nav-link.active:hover {
  font-weight: 500;
  background: $custom-secondary-color;
  background-color: $custom-secondary-color;
  color: $fill-light;
  letter-spacing: .05rem;
}


.panel {
  height: 100%;
  width: 100%;
}


h4.panel-title {
  font-size: 1.4rem;
  display: block;
  padding: .5rem;
  color: #37474f;
}

.nav-tabs .nav-link.disabled {
  color: #666666;
  background-color: rgba(0, 0, 0, .15);
  border-color: transparent;
}

textarea {
  resize: none;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
  background-color: #eaa86aba;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin: auto;
}

.panel-actions .panel-action.active {
  color: #ffffff;
  background: #526069;
}

.tab-content {
  padding: 1rem .5rem .5rem;
}

.view {
  height: 100%;
}

@media (max-width: 740px) {
  .view {
    height: 100vh;
  }
}

.hr-light {
  border-top: 3px solid #ffffff;
  width: 80px;
}

.page-content {
  padding: 1rem 1rem;
  height: 100%;
}

header.panel-heading {
  height: 3rem;
}

div.panel-footer {
  height: 3rem;
}

div.panel-body {
  padding-right: 0;
  padding-left: 0;
  min-height: 52vh;
}


.dashboard-widget {
  min-height: 33vh;
}

.page {
  position: relative;
  background: #f8f8f7;
  color: #3c4858;
  min-height: 100% !important;
  height: auto !important;
}

.panel-heading-tab {
  padding: .8rem 1rem 0;
  background-color: #074f95;
  color: #ffffff;
}

div.tab-pane > form {
  min-height: 62vh;
}


.color-1, .notavailable {
  background: #8c9ba1 !important;
  border-color: #686868 !important;
  color: #000000 !important;
}


.color-2, .freesale {
  background: #54cbe3 !important;
  border-color: #357f8e !important;
  color: #000000 !important;
}

.color-3, .allotment {
  background: #49de94 !important;
  border-color: #2d895b !important;
  color: #000000 !important;
}

.color-4 {
  background: #ab8c82 !important;
  border-color: #564641 !important;
  color: #000000 !important;
}

.color-5, .onrequest {
  background: #ffcd17 !important;
  border-color: #aa890f !important;
  color: #000000 !important;
}

.color-6 {
  background: #96a3fa !important;
  border-color: #636ca5 !important;
  color: #000000 !important;
}

.color-7 {
  background: #fa983c !important;
  border-color: #a56428 !important;
  color: #000000 !important;
}

.color-8 {
  background: #17b3a3 !important;
  border-color: #0c5e56 !important;
  color: #000000 !important;
}

.color-9, .blackout {
  background: #76838f !important;
  border-color: #30353a !important;
  color: #ffffff !important;
}

.color-10 {
  background: #ff666b !important;
  border-color: #aa4447 !important;
  color: #000000 !important;
}

.color-11 {
  background: #3e8ef7 !important;
  border-color: #295da2 !important;
  color: #000000 !important;
}

.color-12 {
  background: #f74584 !important;
  border-color: #a22d57 !important;
  color: #000000 !important;
}

.color-13 {
  background: #5a9101 !important;
  border-color: #253c00 !important;
  color: #ffffff !important;
}

.color-14 {
  background: #9463f7 !important;
  border-color: #6141a2 !important;
  color: #ffffff !important;
}

.color-15 {
  background: #910112 !important;
  border-color: #3c0007 !important;
  color: #ffffff !important;
}

.color-16 {
  background: #999999 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}

#filter_country_add_icon, #filter_province_add_icon, #filter_city_add_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

table td {
  font-size: .85rem;
  font-weight: 400;
  padding: .25rem !important;
}

.custom-select:focus {
  border-color: #ff884f;
  box-shadow: none;
  outline: 0;
}

span.select2-selection:focus,
span.select2-selection:active, {
  border-color: #ff884f;
  box-shadow: none;
  outline: 0;
}

.panel-button-close {
  font-weight: bold;
  float: right;
  padding: 8px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #a3afb7;
  background-color: transparent;
  
}

.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label
.form-check-input[disabled][type=radio]:checked + label:after,
label.btn input[type=radio]:disabled:checked + label:after {

}


.panel-button-close:hover {
  color: #526069;
}

.md-pills .nav-link:hover,
.md-pills .nav-link:focus {
  color: #0a070d;
  background-color: rgb(255 136 79 / 30%);
}

.md-pills .nav-link.active,
.md-pills .nav-link.active:hover,
.md-pills .nav-link.active:focus,
.md-pills .nav-link.active:active {
  background-color: #55a1ec !important;
  color: #0a070d !important;
}

.md-pills .nav-link:focus-visible {
  outline-offset: 0;
  outline: none;
}

.transparent-bg {

}


.btn-pure, .btn-pure.active, .btn-pure:active, .btn-pure:focus, .btn-pure:hover, .btn-pure[disabled], .open > .btn-pure.dropdown-toggle, fieldset[disabled] .btn-pure {
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.btn-pure.active.focus, .btn-pure.active:focus, .btn-pure.active:hover, .btn-pure.focus, .btn-pure:active.focus, .btn-pure:active:focus, .btn-pure:active:hover, .btn-pure:focus, .btn-pure:focus.focus, .btn-pure:focus:focus, .btn-pure:focus:hover, .btn-pure:hover, .btn-pure:hover.focus, .btn-pure:hover:focus, .btn-pure:hover:hover, .btn-pure[disabled].focus, .btn-pure[disabled]:focus, .btn-pure[disabled]:hover, .open > .btn-pure.dropdown-toggle.focus, .open > .btn-pure.dropdown-toggle:focus, .open > .btn-pure.dropdown-toggle:hover, fieldset[disabled] .btn-pure.focus, fieldset[disabled] .btn-pure:focus, fieldset[disabled] .btn-pure:hover {
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.btn-pure.trips-skin.btn-default {
  color: #a3afb7 !important
}

.btn-pure.trips-skin.btn-default.active, .btn-pure.trips-skin.btn-default.focus, .btn-pure.trips-skin.btn-default.hover, .btn-pure.trips-skin.btn-default:active, .btn-pure.trips-skin.btn-default:focus, .btn-pure.trips-skin.btn-default:hover, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle {
  color: #ccd5db !important
}

.btn-pure.trips-skin.btn-default.active.focus, .btn-pure.trips-skin.btn-default.active.hover, .btn-pure.trips-skin.btn-default.active:focus, .btn-pure.trips-skin.btn-default.active:hover, .btn-pure.trips-skin.btn-default.focus.focus, .btn-pure.trips-skin.btn-default.focus.hover, .btn-pure.trips-skin.btn-default.focus:focus, .btn-pure.trips-skin.btn-default.focus:hover, .btn-pure.trips-skin.btn-default.hover.focus, .btn-pure.trips-skin.btn-default.hover.hover, .btn-pure.trips-skin.btn-default.hover:focus, .btn-pure.trips-skin.btn-default.hover:hover, .btn-pure.trips-skin.btn-default:active.focus, .btn-pure.trips-skin.btn-default:active.hover, .btn-pure.trips-skin.btn-default:active:focus, .btn-pure.trips-skin.btn-default:active:hover, .btn-pure.trips-skin.btn-default:focus.focus, .btn-pure.trips-skin.btn-default:focus.hover, .btn-pure.trips-skin.btn-default:focus:focus, .btn-pure.trips-skin.btn-default:focus:hover, .btn-pure.trips-skin.btn-default:hover.focus, .btn-pure.trips-skin.btn-default:hover.hover, .btn-pure.trips-skin.btn-default:hover:focus, .btn-pure.trips-skin.btn-default:hover:hover, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle.focus, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle.hover, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle:focus, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle:hover, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle.focus, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle.hover, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle:focus, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle:hover {
  color: #ccd5db !important
}

.btn-pure.trips-skin.btn-default.active .badge-pill, .btn-pure.trips-skin.btn-default.focus .badge-pill, .btn-pure.trips-skin.btn-default.hover .badge-pill, .btn-pure.trips-skin.btn-default:active .badge-pill, .btn-pure.trips-skin.btn-default:focus .badge-pill, .btn-pure.trips-skin.btn-default:hover .badge-pill, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle .badge-pill, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle .badge-pill {
  color: #ccd5db !important
}

.btn-pure.btn-primary {
  color: #3e8ef7 !important
}

.btn-pure.btn-primary.active, .btn-pure.btn-primary.focus, .btn-pure.btn-primary.hover, .btn-pure.btn-primary:active, .btn-pure.btn-primary:focus, .btn-pure.btn-primary:hover, .open > .btn-pure.btn-primary.dropdown-toggle, .show > .btn-pure.btn-primary.dropdown-toggle {
  color: #79b2fc !important
}

.btn-pure.btn-primary.active.focus, .btn-pure.btn-primary.active.hover, .btn-pure.btn-primary.active:focus, .btn-pure.btn-primary.active:hover, .btn-pure.btn-primary.focus.focus, .btn-pure.btn-primary.focus.hover, .btn-pure.btn-primary.focus:focus, .btn-pure.btn-primary.focus:hover, .btn-pure.btn-primary.hover.focus, .btn-pure.btn-primary.hover.hover, .btn-pure.btn-primary.hover:focus, .btn-pure.btn-primary.hover:hover, .btn-pure.btn-primary:active.focus, .btn-pure.btn-primary:active.hover, .btn-pure.btn-primary:active:focus, .btn-pure.btn-primary:active:hover, .btn-pure.btn-primary:focus.focus, .btn-pure.btn-primary:focus.hover, .btn-pure.btn-primary:focus:focus, .btn-pure.btn-primary:focus:hover, .btn-pure.btn-primary:hover.focus, .btn-pure.btn-primary:hover.hover, .btn-pure.btn-primary:hover:focus, .btn-pure.btn-primary:hover:hover, .open > .btn-pure.btn-primary.dropdown-toggle.focus, .open > .btn-pure.btn-primary.dropdown-toggle.hover, .open > .btn-pure.btn-primary.dropdown-toggle:focus, .open > .btn-pure.btn-primary.dropdown-toggle:hover, .show > .btn-pure.btn-primary.dropdown-toggle.focus, .show > .btn-pure.btn-primary.dropdown-toggle.hover, .show > .btn-pure.btn-primary.dropdown-toggle:focus, .show > .btn-pure.btn-primary.dropdown-toggle:hover {
  color: #79b2fc !important
}

.btn-pure.btn-primary.active .badge-pill, .btn-pure.btn-primary.focus .badge-pill, .btn-pure.btn-primary.hover .badge-pill, .btn-pure.btn-primary:active .badge-pill, .btn-pure.btn-primary:focus .badge-pill, .btn-pure.btn-primary:hover .badge-pill, .open > .btn-pure.btn-primary.dropdown-toggle .badge-pill, .show > .btn-pure.btn-primary.dropdown-toggle .badge-pill {
  color: #79b2fc !important
}

.btn-pure.btn-success {
  color: #11c26d !important
}

.btn-pure.btn-success.active, .btn-pure.btn-success.focus, .btn-pure.btn-success.hover, .btn-pure.btn-success:active, .btn-pure.btn-success:focus, .btn-pure.btn-success:hover, .open > .btn-pure.btn-success.dropdown-toggle, .show > .btn-pure.btn-success.dropdown-toggle {
  color: #49de94 !important
}

.btn-pure.btn-success.active.focus, .btn-pure.btn-success.active.hover, .btn-pure.btn-success.active:focus, .btn-pure.btn-success.active:hover, .btn-pure.btn-success.focus.focus, .btn-pure.btn-success.focus.hover, .btn-pure.btn-success.focus:focus, .btn-pure.btn-success.focus:hover, .btn-pure.btn-success.hover.focus, .btn-pure.btn-success.hover.hover, .btn-pure.btn-success.hover:focus, .btn-pure.btn-success.hover:hover, .btn-pure.btn-success:active.focus, .btn-pure.btn-success:active.hover, .btn-pure.btn-success:active:focus, .btn-pure.btn-success:active:hover, .btn-pure.btn-success:focus.focus, .btn-pure.btn-success:focus.hover, .btn-pure.btn-success:focus:focus, .btn-pure.btn-success:focus:hover, .btn-pure.btn-success:hover.focus, .btn-pure.btn-success:hover.hover, .btn-pure.btn-success:hover:focus, .btn-pure.btn-success:hover:hover, .open > .btn-pure.btn-success.dropdown-toggle.focus, .open > .btn-pure.btn-success.dropdown-toggle.hover, .open > .btn-pure.btn-success.dropdown-toggle:focus, .open > .btn-pure.btn-success.dropdown-toggle:hover, .show > .btn-pure.btn-success.dropdown-toggle.focus, .show > .btn-pure.btn-success.dropdown-toggle.hover, .show > .btn-pure.btn-success.dropdown-toggle:focus, .show > .btn-pure.btn-success.dropdown-toggle:hover {
  color: #49de94 !important
}

.btn-pure.btn-success.active .badge-pill, .btn-pure.btn-success.focus .badge-pill, .btn-pure.btn-success.hover .badge-pill, .btn-pure.btn-success:active .badge-pill, .btn-pure.btn-success:focus .badge-pill, .btn-pure.btn-success:hover .badge-pill, .open > .btn-pure.btn-success.dropdown-toggle .badge-pill, .show > .btn-pure.btn-success.dropdown-toggle .badge-pill {
  color: #49de94 !important
}

.btn-pure.btn-info {
  color: #0bb2d4 !important
}

.btn-pure.btn-info.active, .btn-pure.btn-info.focus, .btn-pure.btn-info.hover, .btn-pure.btn-info:active, .btn-pure.btn-info:focus, .btn-pure.btn-info:hover, .open > .btn-pure.btn-info.dropdown-toggle, .show > .btn-pure.btn-info.dropdown-toggle {
  color: #54cbe3 !important
}

.btn-pure.btn-info.active.focus, .btn-pure.btn-info.active.hover, .btn-pure.btn-info.active:focus, .btn-pure.btn-info.active:hover, .btn-pure.btn-info.focus.focus, .btn-pure.btn-info.focus.hover, .btn-pure.btn-info.focus:focus, .btn-pure.btn-info.focus:hover, .btn-pure.btn-info.hover.focus, .btn-pure.btn-info.hover.hover, .btn-pure.btn-info.hover:focus, .btn-pure.btn-info.hover:hover, .btn-pure.btn-info:active.focus, .btn-pure.btn-info:active.hover, .btn-pure.btn-info:active:focus, .btn-pure.btn-info:active:hover, .btn-pure.btn-info:focus.focus, .btn-pure.btn-info:focus.hover, .btn-pure.btn-info:focus:focus, .btn-pure.btn-info:focus:hover, .btn-pure.btn-info:hover.focus, .btn-pure.btn-info:hover.hover, .btn-pure.btn-info:hover:focus, .btn-pure.btn-info:hover:hover, .open > .btn-pure.btn-info.dropdown-toggle.focus, .open > .btn-pure.btn-info.dropdown-toggle.hover, .open > .btn-pure.btn-info.dropdown-toggle:focus, .open > .btn-pure.btn-info.dropdown-toggle:hover, .show > .btn-pure.btn-info.dropdown-toggle.focus, .show > .btn-pure.btn-info.dropdown-toggle.hover, .show > .btn-pure.btn-info.dropdown-toggle:focus, .show > .btn-pure.btn-info.dropdown-toggle:hover {
  color: #54cbe3 !important
}

.btn-pure.btn-info.active .badge-pill, .btn-pure.btn-info.focus .badge-pill, .btn-pure.btn-info.hover .badge-pill, .btn-pure.btn-info:active .badge-pill, .btn-pure.btn-info:focus .badge-pill, .btn-pure.btn-info:hover .badge-pill, .open > .btn-pure.btn-info.dropdown-toggle .badge-pill, .show > .btn-pure.btn-info.dropdown-toggle .badge-pill {
  color: #54cbe3 !important
}

.btn-pure.btn-warning {
  color: #eb6709 !important
}

.btn-pure.btn-warning.active, .btn-pure.btn-warning.focus, .btn-pure.btn-warning.hover, .btn-pure.btn-warning:active, .btn-pure.btn-warning:focus, .btn-pure.btn-warning:hover, .open > .btn-pure.btn-warning.dropdown-toggle, .show > .btn-pure.btn-warning.dropdown-toggle {
  color: #fa983c !important
}

.btn-pure.btn-warning.active.focus, .btn-pure.btn-warning.active.hover, .btn-pure.btn-warning.active:focus, .btn-pure.btn-warning.active:hover, .btn-pure.btn-warning.focus.focus, .btn-pure.btn-warning.focus.hover, .btn-pure.btn-warning.focus:focus, .btn-pure.btn-warning.focus:hover, .btn-pure.btn-warning.hover.focus, .btn-pure.btn-warning.hover.hover, .btn-pure.btn-warning.hover:focus, .btn-pure.btn-warning.hover:hover, .btn-pure.btn-warning:active.focus, .btn-pure.btn-warning:active.hover, .btn-pure.btn-warning:active:focus, .btn-pure.btn-warning:active:hover, .btn-pure.btn-warning:focus.focus, .btn-pure.btn-warning:focus.hover, .btn-pure.btn-warning:focus:focus, .btn-pure.btn-warning:focus:hover, .btn-pure.btn-warning:hover.focus, .btn-pure.btn-warning:hover.hover, .btn-pure.btn-warning:hover:focus, .btn-pure.btn-warning:hover:hover, .open > .btn-pure.btn-warning.dropdown-toggle.focus, .open > .btn-pure.btn-warning.dropdown-toggle.hover, .open > .btn-pure.btn-warning.dropdown-toggle:focus, .open > .btn-pure.btn-warning.dropdown-toggle:hover, .show > .btn-pure.btn-warning.dropdown-toggle.focus, .show > .btn-pure.btn-warning.dropdown-toggle.hover, .show > .btn-pure.btn-warning.dropdown-toggle:focus, .show > .btn-pure.btn-warning.dropdown-toggle:hover {
  color: #fa983c !important
}

.btn-pure.btn-warning.active .badge-pill, .btn-pure.btn-warning.focus .badge-pill, .btn-pure.btn-warning.hover .badge-pill, .btn-pure.btn-warning:active .badge-pill, .btn-pure.btn-warning:focus .badge-pill, .btn-pure.btn-warning:hover .badge-pill, .open > .btn-pure.btn-warning.dropdown-toggle .badge-pill, .show > .btn-pure.btn-warning.dropdown-toggle .badge-pill {
  color: #fa983c !important
}

.btn-pure.btn-danger {
  color: #ff4c52 !important
}

.btn-pure.btn-danger.active, .btn-pure.btn-danger.focus, .btn-pure.btn-danger.hover, .btn-pure.btn-danger:active, .btn-pure.btn-danger:focus, .btn-pure.btn-danger:hover, .open > .btn-pure.btn-danger.dropdown-toggle, .show > .btn-pure.btn-danger.dropdown-toggle {
  color: #ff8589 !important
}

.btn-pure.btn-danger.active.focus, .btn-pure.btn-danger.active.hover, .btn-pure.btn-danger.active:focus, .btn-pure.btn-danger.active:hover, .btn-pure.btn-danger.focus.focus, .btn-pure.btn-danger.focus.hover, .btn-pure.btn-danger.focus:focus, .btn-pure.btn-danger.focus:hover, .btn-pure.btn-danger.hover.focus, .btn-pure.btn-danger.hover.hover, .btn-pure.btn-danger.hover:focus, .btn-pure.btn-danger.hover:hover, .btn-pure.btn-danger:active.focus, .btn-pure.btn-danger:active.hover, .btn-pure.btn-danger:active:focus, .btn-pure.btn-danger:active:hover, .btn-pure.btn-danger:focus.focus, .btn-pure.btn-danger:focus.hover, .btn-pure.btn-danger:focus:focus, .btn-pure.btn-danger:focus:hover, .btn-pure.btn-danger:hover.focus, .btn-pure.btn-danger:hover.hover, .btn-pure.btn-danger:hover:focus, .btn-pure.btn-danger:hover:hover, .open > .btn-pure.btn-danger.dropdown-toggle.focus, .open > .btn-pure.btn-danger.dropdown-toggle.hover, .open > .btn-pure.btn-danger.dropdown-toggle:focus, .open > .btn-pure.btn-danger.dropdown-toggle:hover, .show > .btn-pure.btn-danger.dropdown-toggle.focus, .show > .btn-pure.btn-danger.dropdown-toggle.hover, .show > .btn-pure.btn-danger.dropdown-toggle:focus, .show > .btn-pure.btn-danger.dropdown-toggle:hover {
  color: #ff8589 !important
}

.btn-pure.btn-danger.active .badge-pill, .btn-pure.btn-danger.focus .badge-pill, .btn-pure.btn-danger.hover .badge-pill, .btn-pure.btn-danger:active .badge-pill, .btn-pure.btn-danger:focus .badge-pill, .btn-pure.btn-danger:hover .badge-pill, .open > .btn-pure.btn-danger.dropdown-toggle .badge-pill, .show > .btn-pure.btn-danger.dropdown-toggle .badge-pill {
  color: #ff8589 !important
}

.btn-pure.btn-dark {
  color: #526069 !important
}

.btn-pure.btn-dark.active, .btn-pure.btn-dark.focus, .btn-pure.btn-dark.hover, .btn-pure.btn-dark:active, .btn-pure.btn-dark:focus, .btn-pure.btn-dark:hover, .open > .btn-pure.btn-dark.dropdown-toggle, .show > .btn-pure.btn-dark.dropdown-toggle {
  color: #76838f !important
}

.btn-pure.btn-dark.active.focus, .btn-pure.btn-dark.active.hover, .btn-pure.btn-dark.active:focus, .btn-pure.btn-dark.active:hover, .btn-pure.btn-dark.focus.focus, .btn-pure.btn-dark.focus.hover, .btn-pure.btn-dark.focus:focus, .btn-pure.btn-dark.focus:hover, .btn-pure.btn-dark.hover.focus, .btn-pure.btn-dark.hover.hover, .btn-pure.btn-dark.hover:focus, .btn-pure.btn-dark.hover:hover, .btn-pure.btn-dark:active.focus, .btn-pure.btn-dark:active.hover, .btn-pure.btn-dark:active:focus, .btn-pure.btn-dark:active:hover, .btn-pure.btn-dark:focus.focus, .btn-pure.btn-dark:focus.hover, .btn-pure.btn-dark:focus:focus, .btn-pure.btn-dark:focus:hover, .btn-pure.btn-dark:hover.focus, .btn-pure.btn-dark:hover.hover, .btn-pure.btn-dark:hover:focus, .btn-pure.btn-dark:hover:hover, .open > .btn-pure.btn-dark.dropdown-toggle.focus, .open > .btn-pure.btn-dark.dropdown-toggle.hover, .open > .btn-pure.btn-dark.dropdown-toggle:focus, .open > .btn-pure.btn-dark.dropdown-toggle:hover, .show > .btn-pure.btn-dark.dropdown-toggle.focus, .show > .btn-pure.btn-dark.dropdown-toggle.hover, .show > .btn-pure.btn-dark.dropdown-toggle:focus, .show > .btn-pure.btn-dark.dropdown-toggle:hover {
  color: #76838f !important
}

.btn-pure.btn-dark.active .badge-pill, .btn-pure.btn-dark.focus .badge-pill, .btn-pure.btn-dark.hover .badge-pill, .btn-pure.btn-dark:active .badge-pill, .btn-pure.btn-dark:focus .badge-pill, .btn-pure.btn-dark:hover .badge-pill, .open > .btn-pure.btn-dark.dropdown-toggle .badge-pill, .show > .btn-pure.btn-dark.dropdown-toggle .badge-pill {
  color: #76838f !important
}

.btn-pure.btn-inverse {
  color: #ffffff !important
}

.btn-pure.btn-inverse.active, .btn-pure.btn-inverse.focus, .btn-pure.btn-inverse.hover, .btn-pure.btn-inverse:active, .btn-pure.btn-inverse:focus, .btn-pure.btn-inverse:hover, .open > .btn-pure.btn-inverse.dropdown-toggle, .show > .btn-pure.btn-inverse.dropdown-toggle {
  color: #ffffff !important
}

.btn-pure.btn-inverse.active.focus, .btn-pure.btn-inverse.active.hover, .btn-pure.btn-inverse.active:focus, .btn-pure.btn-inverse.active:hover, .btn-pure.btn-inverse.focus.focus, .btn-pure.btn-inverse.focus.hover, .btn-pure.btn-inverse.focus:focus, .btn-pure.btn-inverse.focus:hover, .btn-pure.btn-inverse.hover.focus, .btn-pure.btn-inverse.hover.hover, .btn-pure.btn-inverse.hover:focus, .btn-pure.btn-inverse.hover:hover, .btn-pure.btn-inverse:active.focus, .btn-pure.btn-inverse:active.hover, .btn-pure.btn-inverse:active:focus, .btn-pure.btn-inverse:active:hover, .btn-pure.btn-inverse:focus.focus, .btn-pure.btn-inverse:focus.hover, .btn-pure.btn-inverse:focus:focus, .btn-pure.btn-inverse:focus:hover, .btn-pure.btn-inverse:hover.focus, .btn-pure.btn-inverse:hover.hover, .btn-pure.btn-inverse:hover:focus, .btn-pure.btn-inverse:hover:hover, .open > .btn-pure.btn-inverse.dropdown-toggle.focus, .open > .btn-pure.btn-inverse.dropdown-toggle.hover, .open > .btn-pure.btn-inverse.dropdown-toggle:focus, .open > .btn-pure.btn-inverse.dropdown-toggle:hover, .show > .btn-pure.btn-inverse.dropdown-toggle.focus, .show > .btn-pure.btn-inverse.dropdown-toggle.hover, .show > .btn-pure.btn-inverse.dropdown-toggle:focus, .show > .btn-pure.btn-inverse.dropdown-toggle:hover {
  color: #ffffff !important
}

.btn-pure.btn-inverse.active .badge-pill, .btn-pure.btn-inverse.focus .badge-pill, .btn-pure.btn-inverse.hover .badge-pill, .btn-pure.btn-inverse:active .badge-pill, .btn-pure.btn-inverse:focus .badge-pill, .btn-pure.btn-inverse:hover .badge-pill, .open > .btn-pure.btn-inverse.dropdown-toggle .badge-pill, .show > .btn-pure.btn-inverse.dropdown-toggle .badge-pill {
  color: #ffffff !important
}

.btn-pure.trips-skin.btn-default.active.focus, .btn-pure.trips-skin.btn-default.active.hover, .btn-pure.trips-skin.btn-default.active:focus, .btn-pure.trips-skin.btn-default.active:hover, .btn-pure.trips-skin.btn-default.focus.focus, .btn-pure.trips-skin.btn-default.focus.hover, .btn-pure.trips-skin.btn-default.focus:focus, .btn-pure.trips-skin.btn-default.focus:hover, .btn-pure.trips-skin.btn-default.hover.focus, .btn-pure.trips-skin.btn-default.hover.hover, .btn-pure.trips-skin.btn-default.hover:focus, .btn-pure.trips-skin.btn-default.hover:hover, .btn-pure.trips-skin.btn-default:active.focus, .btn-pure.trips-skin.btn-default:active.hover, .btn-pure.trips-skin.btn-default:active:focus, .btn-pure.trips-skin.btn-default:active:hover, .btn-pure.trips-skin.btn-default:focus.focus, .btn-pure.trips-skin.btn-default:focus.hover, .btn-pure.trips-skin.btn-default:focus:focus, .btn-pure.trips-skin.btn-default:focus:hover, .btn-pure.trips-skin.btn-default:hover.focus, .btn-pure.trips-skin.btn-default:hover.hover, .btn-pure.trips-skin.btn-default:hover:focus, .btn-pure.trips-skin.btn-default:hover:hover, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle.focus, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle.hover, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle:focus, .open > .btn-pure.trips-skin.btn-default.dropdown-toggle:hover, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle.focus, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle.hover, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle:focus, .show > .btn-pure.trips-skin.btn-default.dropdown-toggle:hover {
  color: #ccd5db !important;
}

button.btn.btn-pure.trips-skin.btn-default.icon {
  color: #a3afb7 !important;
}

button.btn.btn-pure.trips-skin.btn-default.icon:hover {
  background: transparent;
  color: #ccd5db !important
}

button.btn.btn-pure.trips-skin.btn-default.icon:active {
  background-color: #ccd5db !important;
  border-color: #ccd5db !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-default:not([disabled]):not(.disabled).active,
.btn-default:not([disabled]):not(.disabled):active,
.open > .btn-default.dropdown-toggle, .show > .btn-default.dropdown-toggle {
  background-color: #ccd5db !important;
  border-color: #ccd5db !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media (max-width: 740px) {
  .view:not(.view-table) {
    height: 100vh;
  }
}

.md-pills .nav-link.active {
  background: $custom-secondary-color !important;
  color: choose-contrast-color($custom-secondary-color) !important;
}

.fc-unthemed td.fc-today {
  background: rgb(237, 166, 0, .6) !important
}

.fc-content-skeleton td.fc-today {
  background: rgb(0, 0, 0, .0) !important
}
