@charset "UTF-8";
@use 'sass:math';
@use 'sass:color';

@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'core/rfs';
@import 'abstracts/mixins';
@import 'abstracts/root';
@import 'abstracts/global';
@import 'abstracts/helpers';
@import 'abstracts/custom-skin';

@import 'core/typography';
@import 'core/masks';
@import 'core/waves';
// Layout
@import 'layout/body';
@import 'layout/main';
@import 'layout/navbars';
@import 'layout/footers';
@import 'layout/sidenav-extended';
@import 'layout/sidenav2-extended';
@import 'layout/navbars-extended';
@import 'layout/pages';
@import 'layout/section-panels';
// Components
@import 'components/animations-basic';
@import 'components/buttons';
@import 'components/cards';
@import 'components/dropdowns';
@import 'components/input-group';
@import 'components/pagination';
@import 'components/badges';
@import 'components/modals';
@import 'components/carousels';
@import 'components/forms';
@import 'components/msc';
@import 'components/list-group';
@import 'components/tables';
@import 'components/depreciated';
@import 'components/steppers';
@import 'components/loader';
@import 'components/treeview';
@import 'components/buttons-extended';
@import 'components/social-buttons-extended';
@import 'components/tabs-extended';
@import 'components/cards-basic-extended';
@import 'components/dropdowns-extended';
@import 'components/scrollspy-extended';
@import 'components/chips-extended';
@import 'components/msc-extended';
@import 'components/forms-extended';
@import 'components/radio-extended';
@import 'components/checkbox-extended';
@import 'components/material-select';
@import 'components/switch-extended';
@import 'components/file-input-extended';
@import 'components/range-extended';
@import 'components/input-group-extended';
@import 'components/autocomplete-extended';
@import 'components/accordion-basic-extended';
@import 'components/carousels-extended';
@import 'components/toasts-extended';
@import 'components/animations-extended';
@import 'components/progress-extended';
@import 'components/scrollbar-extended';
@import 'components/tooltips-extended';
@import 'components/skins';
@import 'components/new-light-skin-extended';
@import 'components/depreciated-extended';
@import 'components/picker/default';
@import 'components/breadcrumbs';
@import 'components/picker/default-time';
@import 'components/picker/default-date';

// Sections
@import 'sections/blog';
@import 'sections/templates';
@import 'sections/social';
@import 'sections/team';
@import 'sections/testimonials';
@import 'sections/magazine';
@import 'sections/pricing';
@import 'sections/contacts';
@import 'sections/ecommerce';

// Modules
@import 'modules/lightbox/module';
@import 'modules/accordion-extended/module';
@import 'modules/parallax/module';
@import 'modules/animations-extended/module';
@import 'modules/megamenu/module';
//
@import 'addons/datatables';
@import 'addons/autocomplete';
@import 'addons/datatables2';
@import 'addons/datatables-select';
@import 'addons/datatables-select2';
// @import "addons/directives";
// @import "addons/hierarchical-display";
// @import "addons/flag";
// @import "addons/rating";
// @import "addons/steppers";
// @import "addons/timeline";
@import 'addons/cards-extended';
// @import "addons/chat";
// @import "addons/charts/module";
// @import "addons/vector-map";
// Your custom styles
@import 'custom-styles';
