$wi-solid-font-family: 'wi-solid-900' !default;
$wi-solid-font-path: '/public/font/web_fonts' !default;

$wi-solid-ad: '\e900' !default;
$wi-solid-address-book: '\e901' !default;
$wi-solid-address-card: '\e902' !default;
$wi-solid-adjust: '\e903' !default;
$wi-solid-air-freshener: '\e904' !default;
$wi-solid-align-center: '\e905' !default;
$wi-solid-align-justify: '\e906' !default;
$wi-solid-align-left: '\e907' !default;
$wi-solid-align-right: '\e908' !default;
$wi-solid-allergies: '\e909' !default;
$wi-solid-ambulance: '\e90a' !default;
$wi-solid-american-sign-language-interpreting: '\e90b' !default;
$wi-solid-anchor: '\e90c' !default;
$wi-solid-angle-double-down: '\e90d' !default;
$wi-solid-angle-double-left: '\e90e' !default;
$wi-solid-angle-double-right: '\e90f' !default;
$wi-solid-angle-double-up: '\e910' !default;
$wi-solid-angle-down: '\e911' !default;
$wi-solid-angle-left: '\e912' !default;
$wi-solid-angle-right: '\e913' !default;
$wi-solid-angle-up: '\e914' !default;
$wi-solid-angry: '\e915' !default;
$wi-solid-ankh: '\e916' !default;
$wi-solid-apple-alt: '\e917' !default;
$wi-solid-archive: '\e918' !default;
$wi-solid-archway: '\e919' !default;
$wi-solid-arrow-alt-circle-down: '\e91a' !default;
$wi-solid-arrow-alt-circle-left: '\e91b' !default;
$wi-solid-arrow-alt-circle-right: '\e91c' !default;
$wi-solid-arrow-alt-circle-up: '\e91d' !default;
$wi-solid-arrow-circle-down: '\e91e' !default;
$wi-solid-arrow-circle-left: '\e91f' !default;
$wi-solid-arrow-circle-right: '\e920' !default;
$wi-solid-arrow-circle-up: '\e921' !default;
$wi-solid-arrow-down: '\e922' !default;
$wi-solid-arrow-left: '\e923' !default;
$wi-solid-arrow-right: '\e924' !default;
$wi-solid-arrows-alt: '\e925' !default;
$wi-solid-arrows-alt-h: '\e926' !default;
$wi-solid-arrows-alt-v: '\e927' !default;
$wi-solid-arrow-up: '\e928' !default;
$wi-solid-assistive-listening-systems: '\e929' !default;
$wi-solid-asterisk: '\e92a' !default;
$wi-solid-at: '\e92b' !default;
$wi-solid-atlas: '\e92c' !default;
$wi-solid-atom: '\e92d' !default;
$wi-solid-audio-description: '\e92e' !default;
$wi-solid-award: '\e92f' !default;
$wi-solid-baby: '\e930' !default;
$wi-solid-baby-carriage: '\e931' !default;
$wi-solid-backspace: '\e932' !default;
$wi-solid-backward: '\e933' !default;
$wi-solid-bacon: '\e934' !default;
$wi-solid-bacteria: '\e935' !default;
$wi-solid-bacterium: '\e936' !default;
$wi-solid-bahai: '\e937' !default;
$wi-solid-balance-scale: '\e938' !default;
$wi-solid-balance-scale-left: '\e939' !default;
$wi-solid-balance-scale-right: '\e93a' !default;
$wi-solid-ban: '\e93b' !default;
$wi-solid-band-aid: '\e93c' !default;
$wi-solid-barcode: '\e93d' !default;
$wi-solid-bars: '\e93e' !default;
$wi-solid-baseball-ball: '\e93f' !default;
$wi-solid-basketball-ball: '\e940' !default;
$wi-solid-bath: '\e941' !default;
$wi-solid-battery-empty: '\e942' !default;
$wi-solid-battery-full: '\e943' !default;
$wi-solid-battery-half: '\e944' !default;
$wi-solid-battery-quarter: '\e945' !default;
$wi-solid-battery-three-quarters: '\e946' !default;
$wi-solid-bed: '\e947' !default;
$wi-solid-beer: '\e948' !default;
$wi-solid-bell: '\e949' !default;
$wi-solid-bell-slash: '\e94a' !default;
$wi-solid-bezier-curve: '\e94b' !default;
$wi-solid-bible: '\e94c' !default;
$wi-solid-bicycle: '\e94d' !default;
$wi-solid-biking: '\e94e' !default;
$wi-solid-binoculars: '\e94f' !default;
$wi-solid-biohazard: '\e950' !default;
$wi-solid-birthday-cake: '\e951' !default;
$wi-solid-blender: '\e952' !default;
$wi-solid-blender-phone: '\e953' !default;
$wi-solid-blind: '\e954' !default;
$wi-solid-blog: '\e955' !default;
$wi-solid-bold: '\e956' !default;
$wi-solid-bolt: '\e957' !default;
$wi-solid-bomb: '\e958' !default;
$wi-solid-bone: '\e959' !default;
$wi-solid-bong: '\e95a' !default;
$wi-solid-book: '\e95b' !default;
$wi-solid-book-dead: '\e95c' !default;
$wi-solid-bookmark: '\e95d' !default;
$wi-solid-book-medical: '\e95e' !default;
$wi-solid-book-open: '\e95f' !default;
$wi-solid-book-reader: '\e960' !default;
$wi-solid-border-all: '\e961' !default;
$wi-solid-border-none: '\e962' !default;
$wi-solid-border-style: '\e963' !default;
$wi-solid-bowling-ball: '\e964' !default;
$wi-solid-box: '\e965' !default;
$wi-solid-boxes: '\e966' !default;
$wi-solid-box-open: '\e967' !default;
$wi-solid-box-tissue: '\e968' !default;
$wi-solid-braille: '\e969' !default;
$wi-solid-brain: '\e96a' !default;
$wi-solid-bread-slice: '\e96b' !default;
$wi-solid-briefcase: '\e96c' !default;
$wi-solid-briefcase-medical: '\e96d' !default;
$wi-solid-broadcast-tower: '\e96e' !default;
$wi-solid-broom: '\e96f' !default;
$wi-solid-brush: '\e970' !default;
$wi-solid-bug: '\e971' !default;
$wi-solid-building: '\e972' !default;
$wi-solid-bullhorn: '\e973' !default;
$wi-solid-bullseye: '\e974' !default;
$wi-solid-burn: '\e975' !default;
$wi-solid-bus: '\e976' !default;
$wi-solid-bus-alt: '\e977' !default;
$wi-solid-business-time: '\e978' !default;
$wi-solid-calculator: '\e979' !default;
$wi-solid-calendar: '\e97a' !default;
$wi-solid-calendar-alt: '\e97b' !default;
$wi-solid-calendar-check: '\e97c' !default;
$wi-solid-calendar-day: '\e97d' !default;
$wi-solid-calendar-minus: '\e97e' !default;
$wi-solid-calendar-plus: '\e97f' !default;
$wi-solid-calendar-times: '\e980' !default;
$wi-solid-calendar-week: '\e981' !default;
$wi-solid-camera: '\e982' !default;
$wi-solid-camera-retro: '\e983' !default;
$wi-solid-campground: '\e984' !default;
$wi-solid-candy-cane: '\e985' !default;
$wi-solid-cannabis: '\e986' !default;
$wi-solid-capsules: '\e987' !default;
$wi-solid-car: '\e988' !default;
$wi-solid-car-alt: '\e989' !default;
$wi-solid-caravan: '\e98a' !default;
$wi-solid-car-battery: '\e98b' !default;
$wi-solid-car-crash: '\e98c' !default;
$wi-solid-caret-down: '\e98d' !default;
$wi-solid-caret-left: '\e98e' !default;
$wi-solid-caret-right: '\e98f' !default;
$wi-solid-caret-square-down: '\e990' !default;
$wi-solid-caret-square-left: '\e991' !default;
$wi-solid-caret-square-right: '\e992' !default;
$wi-solid-caret-square-up: '\e993' !default;
$wi-solid-caret-up: '\e994' !default;
$wi-solid-carrot: '\e995' !default;
$wi-solid-car-side: '\e996' !default;
$wi-solid-cart-arrow-down: '\e997' !default;
$wi-solid-cart-plus: '\e998' !default;
$wi-solid-cash-register: '\e999' !default;
$wi-solid-cat: '\e99a' !default;
$wi-solid-certificate: '\e99b' !default;
$wi-solid-chair: '\e99c' !default;
$wi-solid-chalkboard: '\e99d' !default;
$wi-solid-chalkboard-teacher: '\e99e' !default;
$wi-solid-charging-station: '\e99f' !default;
$wi-solid-chart-area: '\e9a0' !default;
$wi-solid-chart-bar: '\e9a1' !default;
$wi-solid-chart-line: '\e9a2' !default;
$wi-solid-chart-pie: '\e9a3' !default;
$wi-solid-check: '\e9a4' !default;
$wi-solid-check-circle: '\e9a5' !default;
$wi-solid-check-double: '\e9a6' !default;
$wi-solid-check-square: '\e9a7' !default;
$wi-solid-cheese: '\e9a8' !default;
$wi-solid-chess: '\e9a9' !default;
$wi-solid-chess-bishop: '\e9aa' !default;
$wi-solid-chess-board: '\e9ab' !default;
$wi-solid-chess-king: '\e9ac' !default;
$wi-solid-chess-knight: '\e9ad' !default;
$wi-solid-chess-pawn: '\e9ae' !default;
$wi-solid-chess-queen: '\e9af' !default;
$wi-solid-chess-rook: '\e9b0' !default;
$wi-solid-chevron-circle-down: '\e9b1' !default;
$wi-solid-chevron-circle-left: '\e9b2' !default;
$wi-solid-chevron-circle-right: '\e9b3' !default;
$wi-solid-chevron-circle-up: '\e9b4' !default;
$wi-solid-chevron-down: '\e9b5' !default;
$wi-solid-chevron-left: '\e9b6' !default;
$wi-solid-chevron-right: '\e9b7' !default;
$wi-solid-chevron-up: '\e9b8' !default;
$wi-solid-child: '\e9b9' !default;
$wi-solid-church: '\e9ba' !default;
$wi-solid-circle: '\e9bb' !default;
$wi-solid-circle-notch: '\e9bc' !default;
$wi-solid-city: '\e9bd' !default;
$wi-solid-clinic-medical: '\e9be' !default;
$wi-solid-clipboard: '\e9bf' !default;
$wi-solid-clipboard-check: '\e9c0' !default;
$wi-solid-clipboard-list: '\e9c1' !default;
$wi-solid-clock: '\e9c2' !default;
$wi-solid-clone: '\e9c3' !default;
$wi-solid-closed-captioning: '\e9c4' !default;
$wi-solid-cloud: '\e9c5' !default;
$wi-solid-cloud-download-alt: '\e9c6' !default;
$wi-solid-cloud-meatball: '\e9c7' !default;
$wi-solid-cloud-moon: '\e9c8' !default;
$wi-solid-cloud-moon-rain: '\e9c9' !default;
$wi-solid-cloud-rain: '\e9ca' !default;
$wi-solid-cloud-showers-heavy: '\e9cb' !default;
$wi-solid-cloud-sun: '\e9cc' !default;
$wi-solid-cloud-sun-rain: '\e9cd' !default;
$wi-solid-cloud-upload-alt: '\e9ce' !default;
$wi-solid-cocktail: '\e9cf' !default;
$wi-solid-code: '\e9d0' !default;
$wi-solid-code-branch: '\e9d1' !default;
$wi-solid-coffee: '\e9d2' !default;
$wi-solid-cog: '\e9d3' !default;
$wi-solid-cogs: '\e9d4' !default;
$wi-solid-coins: '\e9d5' !default;
$wi-solid-columns: '\e9d6' !default;
$wi-solid-comment: '\e9d7' !default;
$wi-solid-comment-alt: '\e9d8' !default;
$wi-solid-comment-dollar: '\e9d9' !default;
$wi-solid-comment-dots: '\e9da' !default;
$wi-solid-comment-medical: '\e9db' !default;
$wi-solid-comments: '\e9dc' !default;
$wi-solid-comments-dollar: '\e9dd' !default;
$wi-solid-comment-slash: '\e9de' !default;
$wi-solid-compact-disc: '\e9df' !default;
$wi-solid-compass: '\e9e0' !default;
$wi-solid-compress: '\e9e1' !default;
$wi-solid-compress-alt: '\e9e2' !default;
$wi-solid-compress-arrows-alt: '\e9e3' !default;
$wi-solid-concierge-bell: '\e9e4' !default;
$wi-solid-cookie: '\e9e5' !default;
$wi-solid-cookie-bite: '\e9e6' !default;
$wi-solid-copy: '\e9e7' !default;
$wi-solid-copyright: '\e9e8' !default;
$wi-solid-couch: '\e9e9' !default;
$wi-solid-credit-card: '\e9ea' !default;
$wi-solid-crop: '\e9eb' !default;
$wi-solid-crop-alt: '\e9ec' !default;
$wi-solid-cross: '\e9ed' !default;
$wi-solid-crosshairs: '\e9ee' !default;
$wi-solid-crow: '\e9ef' !default;
$wi-solid-crown: '\e9f0' !default;
$wi-solid-crutch: '\e9f1' !default;
$wi-solid-cube: '\e9f2' !default;
$wi-solid-cubes: '\e9f3' !default;
$wi-solid-cut: '\e9f4' !default;
$wi-solid-database: '\e9f5' !default;
$wi-solid-deaf: '\e9f6' !default;
$wi-solid-democrat: '\e9f7' !default;
$wi-solid-desktop: '\e9f8' !default;
$wi-solid-dharmachakra: '\e9f9' !default;
$wi-solid-diagnoses: '\e9fa' !default;
$wi-solid-dice: '\e9fb' !default;
$wi-solid-dice-d6: '\e9fc' !default;
$wi-solid-dice-d20: '\e9fd' !default;
$wi-solid-dice-five: '\e9fe' !default;
$wi-solid-dice-four: '\e9ff' !default;
$wi-solid-dice-one: '\ea00' !default;
$wi-solid-dice-six: '\ea01' !default;
$wi-solid-dice-three: '\ea02' !default;
$wi-solid-dice-two: '\ea03' !default;
$wi-solid-digital-tachograph: '\ea04' !default;
$wi-solid-directions: '\ea05' !default;
$wi-solid-disease: '\ea06' !default;
$wi-solid-divide: '\ea07' !default;
$wi-solid-dizzy: '\ea08' !default;
$wi-solid-dna: '\ea09' !default;
$wi-solid-dog: '\ea0a' !default;
$wi-solid-dollar-sign: '\ea0b' !default;
$wi-solid-dolly: '\ea0c' !default;
$wi-solid-dolly-flatbed: '\ea0d' !default;
$wi-solid-donate: '\ea0e' !default;
$wi-solid-door-closed: '\ea0f' !default;
$wi-solid-door-open: '\ea10' !default;
$wi-solid-dot-circle: '\ea11' !default;
$wi-solid-dove: '\ea12' !default;
$wi-solid-download: '\ea13' !default;
$wi-solid-drafting-compass: '\ea14' !default;
$wi-solid-dragon: '\ea15' !default;
$wi-solid-draw-polygon: '\ea16' !default;
$wi-solid-drum: '\ea17' !default;
$wi-solid-drum-steelpan: '\ea18' !default;
$wi-solid-drumstick-bite: '\ea19' !default;
$wi-solid-dumbbell: '\ea1a' !default;
$wi-solid-dumpster: '\ea1b' !default;
$wi-solid-dumpster-fire: '\ea1c' !default;
$wi-solid-dungeon: '\ea1d' !default;
$wi-solid-edit: '\ea1e' !default;
$wi-solid-egg: '\ea1f' !default;
$wi-solid-eject: '\ea20' !default;
$wi-solid-ellipsis-h: '\ea21' !default;
$wi-solid-ellipsis-v: '\ea22' !default;
$wi-solid-envelope: '\ea23' !default;
$wi-solid-envelope-open: '\ea24' !default;
$wi-solid-envelope-open-text: '\ea25' !default;
$wi-solid-envelope-square: '\ea26' !default;
$wi-solid-equals: '\ea27' !default;
$wi-solid-eraser: '\ea28' !default;
$wi-solid-ethernet: '\ea29' !default;
$wi-solid-euro-sign: '\ea2a' !default;
$wi-solid-exchange-alt: '\ea2b' !default;
$wi-solid-exclamation: '\ea2c' !default;
$wi-solid-exclamation-circle: '\ea2d' !default;
$wi-solid-exclamation-triangle: '\ea2e' !default;
$wi-solid-expand: '\ea2f' !default;
$wi-solid-expand-alt: '\ea30' !default;
$wi-solid-expand-arrows-alt: '\ea31' !default;
$wi-solid-external-link-alt: '\ea32' !default;
$wi-solid-external-link-square-alt: '\ea33' !default;
$wi-solid-eye: '\ea34' !default;
$wi-solid-eye-dropper: '\ea35' !default;
$wi-solid-eye-slash: '\ea36' !default;
$wi-solid-fan: '\ea37' !default;
$wi-solid-fast-backward: '\ea38' !default;
$wi-solid-fast-forward: '\ea39' !default;
$wi-solid-faucet: '\ea3a' !default;
$wi-solid-fax: '\ea3b' !default;
$wi-solid-feather: '\ea3c' !default;
$wi-solid-feather-alt: '\ea3d' !default;
$wi-solid-female: '\ea3e' !default;
$wi-solid-fighter-jet: '\ea3f' !default;
$wi-solid-file: '\ea40' !default;
$wi-solid-file-alt: '\ea41' !default;
$wi-solid-file-archive: '\ea42' !default;
$wi-solid-file-audio: '\ea43' !default;
$wi-solid-file-code: '\ea44' !default;
$wi-solid-file-contract: '\ea45' !default;
$wi-solid-file-csv: '\ea46' !default;
$wi-solid-file-download: '\ea47' !default;
$wi-solid-file-excel: '\ea48' !default;
$wi-solid-file-export: '\ea49' !default;
$wi-solid-file-image: '\ea4a' !default;
$wi-solid-file-import: '\ea4b' !default;
$wi-solid-file-invoice: '\ea4c' !default;
$wi-solid-file-invoice-dollar: '\ea4d' !default;
$wi-solid-file-medical: '\ea4e' !default;
$wi-solid-file-medical-alt: '\ea4f' !default;
$wi-solid-file-pdf: '\ea50' !default;
$wi-solid-file-powerpoint: '\ea51' !default;
$wi-solid-file-prescription: '\ea52' !default;
$wi-solid-file-signature: '\ea53' !default;
$wi-solid-file-upload: '\ea54' !default;
$wi-solid-file-video: '\ea55' !default;
$wi-solid-file-word: '\ea56' !default;
$wi-solid-fill: '\ea57' !default;
$wi-solid-fill-drip: '\ea58' !default;
$wi-solid-film: '\ea59' !default;
$wi-solid-filter: '\ea5a' !default;
$wi-solid-fingerprint: '\ea5b' !default;
$wi-solid-fire: '\ea5c' !default;
$wi-solid-fire-alt: '\ea5d' !default;
$wi-solid-fire-extinguisher: '\ea5e' !default;
$wi-solid-first-aid: '\ea5f' !default;
$wi-solid-fish: '\ea60' !default;
$wi-solid-fist-raised: '\ea61' !default;
$wi-solid-flag: '\ea62' !default;
$wi-solid-flag-checkered: '\ea63' !default;
$wi-solid-flag-usa: '\ea64' !default;
$wi-solid-flask: '\ea65' !default;
$wi-solid-flushed: '\ea66' !default;
$wi-solid-folder: '\ea67' !default;
$wi-solid-folder-minus: '\ea68' !default;
$wi-solid-folder-open: '\ea69' !default;
$wi-solid-folder-plus: '\ea6a' !default;
$wi-solid-font: '\ea6b' !default;
$wi-solid-font-awesome-logo-full: '\ea6c' !default;
$wi-solid-football-ball: '\ea6d' !default;
$wi-solid-forward: '\ea6e' !default;
$wi-solid-frog: '\ea6f' !default;
$wi-solid-frown: '\ea70' !default;
$wi-solid-frown-open: '\ea71' !default;
$wi-solid-funnel-dollar: '\ea72' !default;
$wi-solid-futbol: '\ea73' !default;
$wi-solid-gamepad: '\ea74' !default;
$wi-solid-gas-pump: '\ea75' !default;
$wi-solid-gavel: '\ea76' !default;
$wi-solid-gem: '\ea77' !default;
$wi-solid-genderless: '\ea78' !default;
$wi-solid-ghost: '\ea79' !default;
$wi-solid-gift: '\ea7a' !default;
$wi-solid-gifts: '\ea7b' !default;
$wi-solid-glass-cheers: '\ea7c' !default;
$wi-solid-glasses: '\ea7d' !default;
$wi-solid-glass-martini: '\ea7e' !default;
$wi-solid-glass-martini-alt: '\ea7f' !default;
$wi-solid-glass-whiskey: '\ea80' !default;
$wi-solid-globe: '\ea81' !default;
$wi-solid-globe-africa: '\ea82' !default;
$wi-solid-globe-americas: '\ea83' !default;
$wi-solid-globe-asia: '\ea84' !default;
$wi-solid-globe-europe: '\ea85' !default;
$wi-solid-golf-ball: '\ea86' !default;
$wi-solid-gopuram: '\ea87' !default;
$wi-solid-graduation-cap: '\ea88' !default;
$wi-solid-greater-than: '\ea89' !default;
$wi-solid-greater-than-equal: '\ea8a' !default;
$wi-solid-grimace: '\ea8b' !default;
$wi-solid-grin: '\ea8c' !default;
$wi-solid-grin-alt: '\ea8d' !default;
$wi-solid-grin-beam: '\ea8e' !default;
$wi-solid-grin-beam-sweat: '\ea8f' !default;
$wi-solid-grin-hearts: '\ea90' !default;
$wi-solid-grin-squint: '\ea91' !default;
$wi-solid-grin-squint-tears: '\ea92' !default;
$wi-solid-grin-stars: '\ea93' !default;
$wi-solid-grin-tears: '\ea94' !default;
$wi-solid-grin-tongue: '\ea95' !default;
$wi-solid-grin-tongue-squint: '\ea96' !default;
$wi-solid-grin-tongue-wink: '\ea97' !default;
$wi-solid-grin-wink: '\ea98' !default;
$wi-solid-grip-horizontal: '\ea99' !default;
$wi-solid-grip-lines: '\ea9a' !default;
$wi-solid-grip-lines-vertical: '\ea9b' !default;
$wi-solid-grip-vertical: '\ea9c' !default;
$wi-solid-guitar: '\ea9d' !default;
$wi-solid-hamburger: '\ea9e' !default;
$wi-solid-hammer: '\ea9f' !default;
$wi-solid-hamsa: '\eaa0' !default;
$wi-solid-hand-holding: '\eaa1' !default;
$wi-solid-hand-holding-heart: '\eaa2' !default;
$wi-solid-hand-holding-medical: '\eaa3' !default;
$wi-solid-hand-holding-usd: '\eaa4' !default;
$wi-solid-hand-holding-water: '\eaa5' !default;
$wi-solid-hand-lizard: '\eaa6' !default;
$wi-solid-hand-middle-finger: '\eaa7' !default;
$wi-solid-hand-paper: '\eaa8' !default;
$wi-solid-hand-peace: '\eaa9' !default;
$wi-solid-hand-point-down: '\eaaa' !default;
$wi-solid-hand-pointer: '\eaab' !default;
$wi-solid-hand-point-left: '\eaac' !default;
$wi-solid-hand-point-right: '\eaad' !default;
$wi-solid-hand-point-up: '\eaae' !default;
$wi-solid-hand-rock: '\eaaf' !default;
$wi-solid-hands: '\eab0' !default;
$wi-solid-hand-scissors: '\eab1' !default;
$wi-solid-handshake: '\eab2' !default;
$wi-solid-handshake-alt-slash: '\eab3' !default;
$wi-solid-handshake-slash: '\eab4' !default;
$wi-solid-hands-helping: '\eab5' !default;
$wi-solid-hand-sparkles: '\eab6' !default;
$wi-solid-hand-spock: '\eab7' !default;
$wi-solid-hands-wash: '\eab8' !default;
$wi-solid-hanukiah: '\eab9' !default;
$wi-solid-hard-hat: '\eaba' !default;
$wi-solid-hashtag: '\eabb' !default;
$wi-solid-hat-cowboy: '\eabc' !default;
$wi-solid-hat-cowboy-side: '\eabd' !default;
$wi-solid-hat-wizard: '\eabe' !default;
$wi-solid-hdd: '\eabf' !default;
$wi-solid-heading: '\eac0' !default;
$wi-solid-headphones: '\eac1' !default;
$wi-solid-headphones-alt: '\eac2' !default;
$wi-solid-headset: '\eac3' !default;
$wi-solid-head-side-cough: '\eac4' !default;
$wi-solid-head-side-cough-slash: '\eac5' !default;
$wi-solid-head-side-mask: '\eac6' !default;
$wi-solid-head-side-virus: '\eac7' !default;
$wi-solid-heart: '\eac8' !default;
$wi-solid-heartbeat: '\eac9' !default;
$wi-solid-heart-broken: '\eaca' !default;
$wi-solid-helicopter: '\eacb' !default;
$wi-solid-highlighter: '\eacc' !default;
$wi-solid-hiking: '\eacd' !default;
$wi-solid-hippo: '\eace' !default;
$wi-solid-history: '\eacf' !default;
$wi-solid-hockey-puck: '\ead0' !default;
$wi-solid-holly-berry: '\ead1' !default;
$wi-solid-home: '\ead2' !default;
$wi-solid-horse: '\ead3' !default;
$wi-solid-horse-head: '\ead4' !default;
$wi-solid-hospital: '\ead5' !default;
$wi-solid-hospital-alt: '\ead6' !default;
$wi-solid-hospital-symbol: '\ead7' !default;
$wi-solid-hospital-user: '\ead8' !default;
$wi-solid-hotdog: '\ead9' !default;
$wi-solid-hotel: '\eada' !default;
$wi-solid-hot-tub: '\eadb' !default;
$wi-solid-hourglass: '\eadc' !default;
$wi-solid-hourglass-end: '\eadd' !default;
$wi-solid-hourglass-half: '\eade' !default;
$wi-solid-hourglass-start: '\eadf' !default;
$wi-solid-house-damage: '\eae0' !default;
$wi-solid-house-user: '\eae1' !default;
$wi-solid-hryvnia: '\eae2' !default;
$wi-solid-h-square: '\eae3' !default;
$wi-solid-ice-cream: '\eae4' !default;
$wi-solid-icicles: '\eae5' !default;
$wi-solid-icons: '\eae6' !default;
$wi-solid-i-cursor: '\eae7' !default;
$wi-solid-id-badge: '\eae8' !default;
$wi-solid-id-card: '\eae9' !default;
$wi-solid-id-card-alt: '\eaea' !default;
$wi-solid-igloo: '\eaeb' !default;
$wi-solid-image: '\eaec' !default;
$wi-solid-images: '\eaed' !default;
$wi-solid-inbox: '\eaee' !default;
$wi-solid-indent: '\eaef' !default;
$wi-solid-industry: '\eaf0' !default;
$wi-solid-infinity: '\eaf1' !default;
$wi-solid-info: '\eaf2' !default;
$wi-solid-info-circle: '\eaf3' !default;
$wi-solid-italic: '\eaf4' !default;
$wi-solid-jedi: '\eaf5' !default;
$wi-solid-joint: '\eaf6' !default;
$wi-solid-journal-whills: '\eaf7' !default;
$wi-solid-kaaba: '\eaf8' !default;
$wi-solid-key: '\eaf9' !default;
$wi-solid-keyboard: '\eafa' !default;
$wi-solid-khanda: '\eafb' !default;
$wi-solid-kiss: '\eafc' !default;
$wi-solid-kiss-beam: '\eafd' !default;
$wi-solid-kiss-wink-heart: '\eafe' !default;
$wi-solid-kiwi-bird: '\eaff' !default;
$wi-solid-landmark: '\eb00' !default;
$wi-solid-language: '\eb01' !default;
$wi-solid-laptop: '\eb02' !default;
$wi-solid-laptop-code: '\eb03' !default;
$wi-solid-laptop-house: '\eb04' !default;
$wi-solid-laptop-medical: '\eb05' !default;
$wi-solid-laugh: '\eb06' !default;
$wi-solid-laugh-beam: '\eb07' !default;
$wi-solid-laugh-squint: '\eb08' !default;
$wi-solid-laugh-wink: '\eb09' !default;
$wi-solid-layer-group: '\eb0a' !default;
$wi-solid-leaf: '\eb0b' !default;
$wi-solid-lemon: '\eb0c' !default;
$wi-solid-less-than: '\eb0d' !default;
$wi-solid-less-than-equal: '\eb0e' !default;
$wi-solid-level-down-alt: '\eb0f' !default;
$wi-solid-level-up-alt: '\eb10' !default;
$wi-solid-life-ring: '\eb11' !default;
$wi-solid-lightbulb: '\eb12' !default;
$wi-solid-link: '\eb13' !default;
$wi-solid-lira-sign: '\eb14' !default;
$wi-solid-list: '\eb15' !default;
$wi-solid-list-alt: '\eb16' !default;
$wi-solid-list-ol: '\eb17' !default;
$wi-solid-list-ul: '\eb18' !default;
$wi-solid-location-arrow: '\eb19' !default;
$wi-solid-lock: '\eb1a' !default;
$wi-solid-lock-open: '\eb1b' !default;
$wi-solid-long-arrow-alt-down: '\eb1c' !default;
$wi-solid-long-arrow-alt-left: '\eb1d' !default;
$wi-solid-long-arrow-alt-right: '\eb1e' !default;
$wi-solid-long-arrow-alt-up: '\eb1f' !default;
$wi-solid-low-vision: '\eb20' !default;
$wi-solid-luggage-cart: '\eb21' !default;
$wi-solid-lungs: '\eb22' !default;
$wi-solid-lungs-virus: '\eb23' !default;
$wi-solid-magic: '\eb24' !default;
$wi-solid-magnet: '\eb25' !default;
$wi-solid-mail-bulk: '\eb26' !default;
$wi-solid-male: '\eb27' !default;
$wi-solid-map: '\eb28' !default;
$wi-solid-map-marked: '\eb29' !default;
$wi-solid-map-marked-alt: '\eb2a' !default;
$wi-solid-map-marker: '\eb2b' !default;
$wi-solid-map-marker-alt: '\eb2c' !default;
$wi-solid-map-pin: '\eb2d' !default;
$wi-solid-map-signs: '\eb2e' !default;
$wi-solid-marker: '\eb2f' !default;
$wi-solid-mars: '\eb30' !default;
$wi-solid-mars-double: '\eb31' !default;
$wi-solid-mars-stroke: '\eb32' !default;
$wi-solid-mars-stroke-h: '\eb33' !default;
$wi-solid-mars-stroke-v: '\eb34' !default;
$wi-solid-mask: '\eb35' !default;
$wi-solid-medal: '\eb36' !default;
$wi-solid-medkit: '\eb37' !default;
$wi-solid-meh: '\eb38' !default;
$wi-solid-meh-blank: '\eb39' !default;
$wi-solid-meh-rolling-eyes: '\eb3a' !default;
$wi-solid-memory: '\eb3b' !default;
$wi-solid-menorah: '\eb3c' !default;
$wi-solid-mercury: '\eb3d' !default;
$wi-solid-meteor: '\eb3e' !default;
$wi-solid-microchip: '\eb3f' !default;
$wi-solid-microphone: '\eb40' !default;
$wi-solid-microphone-alt: '\eb41' !default;
$wi-solid-microphone-alt-slash: '\eb42' !default;
$wi-solid-microphone-slash: '\eb43' !default;
$wi-solid-microscope: '\eb44' !default;
$wi-solid-minus: '\eb45' !default;
$wi-solid-minus-circle: '\eb46' !default;
$wi-solid-minus-square: '\eb47' !default;
$wi-solid-mitten: '\eb48' !default;
$wi-solid-mobile: '\eb49' !default;
$wi-solid-mobile-alt: '\eb4a' !default;
$wi-solid-money-bill: '\eb4b' !default;
$wi-solid-money-bill-alt: '\eb4c' !default;
$wi-solid-money-bill-wave: '\eb4d' !default;
$wi-solid-money-bill-wave-alt: '\eb4e' !default;
$wi-solid-money-check: '\eb4f' !default;
$wi-solid-money-check-alt: '\eb50' !default;
$wi-solid-monument: '\eb51' !default;
$wi-solid-moon: '\eb52' !default;
$wi-solid-mortar-pestle: '\eb53' !default;
$wi-solid-mosque: '\eb54' !default;
$wi-solid-motorcycle: '\eb55' !default;
$wi-solid-mountain: '\eb56' !default;
$wi-solid-mouse: '\eb57' !default;
$wi-solid-mouse-pointer: '\eb58' !default;
$wi-solid-mug-hot: '\eb59' !default;
$wi-solid-music: '\eb5a' !default;
$wi-solid-network-wired: '\eb5b' !default;
$wi-solid-neuter: '\eb5c' !default;
$wi-solid-newspaper: '\eb5d' !default;
$wi-solid-not-equal: '\eb5e' !default;
$wi-solid-notes-medical: '\eb5f' !default;
$wi-solid-object-group: '\eb60' !default;
$wi-solid-object-ungroup: '\eb61' !default;
$wi-solid-oil-can: '\eb62' !default;
$wi-solid-om: '\eb63' !default;
$wi-solid-otter: '\eb64' !default;
$wi-solid-outdent: '\eb65' !default;
$wi-solid-pager: '\eb66' !default;
$wi-solid-paint-brush: '\eb67' !default;
$wi-solid-paint-roller: '\eb68' !default;
$wi-solid-palette: '\eb69' !default;
$wi-solid-pallet: '\eb6a' !default;
$wi-solid-paperclip: '\eb6b' !default;
$wi-solid-paper-plane: '\eb6c' !default;
$wi-solid-parachute-box: '\eb6d' !default;
$wi-solid-paragraph: '\eb6e' !default;
$wi-solid-parking: '\eb6f' !default;
$wi-solid-passport: '\eb70' !default;
$wi-solid-pastafarianism: '\eb71' !default;
$wi-solid-paste: '\eb72' !default;
$wi-solid-pause: '\eb73' !default;
$wi-solid-pause-circle: '\eb74' !default;
$wi-solid-paw: '\eb75' !default;
$wi-solid-peace: '\eb76' !default;
$wi-solid-pen: '\eb77' !default;
$wi-solid-pen-alt: '\eb78' !default;
$wi-solid-pencil-alt: '\eb79' !default;
$wi-solid-pencil-ruler: '\eb7a' !default;
$wi-solid-pen-fancy: '\eb7b' !default;
$wi-solid-pen-nib: '\eb7c' !default;
$wi-solid-pen-square: '\eb7d' !default;
$wi-solid-people-arrows: '\eb7e' !default;
$wi-solid-people-carry: '\eb7f' !default;
$wi-solid-pepper-hot: '\eb80' !default;
$wi-solid-percent: '\eb81' !default;
$wi-solid-percentage: '\eb82' !default;
$wi-solid-person-booth: '\eb83' !default;
$wi-solid-phone: '\eb84' !default;
$wi-solid-phone-alt: '\eb85' !default;
$wi-solid-phone-slash: '\eb86' !default;
$wi-solid-phone-square: '\eb87' !default;
$wi-solid-phone-square-alt: '\eb88' !default;
$wi-solid-phone-volume: '\eb89' !default;
$wi-solid-photo-video: '\eb8a' !default;
$wi-solid-piggy-bank: '\eb8b' !default;
$wi-solid-pills: '\eb8c' !default;
$wi-solid-pizza-slice: '\eb8d' !default;
$wi-solid-place-of-worship: '\eb8e' !default;
$wi-solid-plane: '\eb8f' !default;
$wi-solid-plane-arrival: '\eb90' !default;
$wi-solid-plane-departure: '\eb91' !default;
$wi-solid-plane-slash: '\eb92' !default;
$wi-solid-play: '\eb93' !default;
$wi-solid-play-circle: '\eb94' !default;
$wi-solid-plug: '\eb95' !default;
$wi-solid-plus: '\eb96' !default;
$wi-solid-plus-circle: '\eb97' !default;
$wi-solid-plus-square: '\eb98' !default;
$wi-solid-podcast: '\eb99' !default;
$wi-solid-poll: '\eb9a' !default;
$wi-solid-poll-h: '\eb9b' !default;
$wi-solid-poo: '\eb9c' !default;
$wi-solid-poop: '\eb9d' !default;
$wi-solid-poo-storm: '\eb9e' !default;
$wi-solid-portrait: '\eb9f' !default;
$wi-solid-pound-sign: '\eba0' !default;
$wi-solid-power-off: '\eba1' !default;
$wi-solid-pray: '\eba2' !default;
$wi-solid-praying-hands: '\eba3' !default;
$wi-solid-prescription: '\eba4' !default;
$wi-solid-prescription-bottle: '\eba5' !default;
$wi-solid-prescription-bottle-alt: '\eba6' !default;
$wi-solid-print: '\eba7' !default;
$wi-solid-procedures: '\eba8' !default;
$wi-solid-project-diagram: '\eba9' !default;
$wi-solid-pump-medical: '\ebaa' !default;
$wi-solid-pump-soap: '\ebab' !default;
$wi-solid-puzzle-piece: '\ebac' !default;
$wi-solid-qrcode: '\ebad' !default;
$wi-solid-question: '\ebae' !default;
$wi-solid-question-circle: '\ebaf' !default;
$wi-solid-quidditch: '\ebb0' !default;
$wi-solid-quote-left: '\ebb1' !default;
$wi-solid-quote-right: '\ebb2' !default;
$wi-solid-quran: '\ebb3' !default;
$wi-solid-radiation: '\ebb4' !default;
$wi-solid-radiation-alt: '\ebb5' !default;
$wi-solid-rainbow: '\ebb6' !default;
$wi-solid-random: '\ebb7' !default;
$wi-solid-receipt: '\ebb8' !default;
$wi-solid-record-vinyl: '\ebb9' !default;
$wi-solid-recycle: '\ebba' !default;
$wi-solid-redo: '\ebbb' !default;
$wi-solid-redo-alt: '\ebbc' !default;
$wi-solid-registered: '\ebbd' !default;
$wi-solid-remove-format: '\ebbe' !default;
$wi-solid-reply: '\ebbf' !default;
$wi-solid-reply-all: '\ebc0' !default;
$wi-solid-republican: '\ebc1' !default;
$wi-solid-restroom: '\ebc2' !default;
$wi-solid-retweet: '\ebc3' !default;
$wi-solid-ribbon: '\ebc4' !default;
$wi-solid-ring: '\ebc5' !default;
$wi-solid-road: '\ebc6' !default;
$wi-solid-robot: '\ebc7' !default;
$wi-solid-rocket: '\ebc8' !default;
$wi-solid-route: '\ebc9' !default;
$wi-solid-rss: '\ebca' !default;
$wi-solid-rss-square: '\ebcb' !default;
$wi-solid-ruble-sign: '\ebcc' !default;
$wi-solid-ruler: '\ebcd' !default;
$wi-solid-ruler-combined: '\ebce' !default;
$wi-solid-ruler-horizontal: '\ebcf' !default;
$wi-solid-ruler-vertical: '\ebd0' !default;
$wi-solid-running: '\ebd1' !default;
$wi-solid-rupee-sign: '\ebd2' !default;
$wi-solid-sad-cry: '\ebd3' !default;
$wi-solid-sad-tear: '\ebd4' !default;
$wi-solid-satellite: '\ebd5' !default;
$wi-solid-satellite-dish: '\ebd6' !default;
$wi-solid-save: '\ebd7' !default;
$wi-solid-school: '\ebd8' !default;
$wi-solid-screwdriver: '\ebd9' !default;
$wi-solid-scroll: '\ebda' !default;
$wi-solid-sd-card: '\ebdb' !default;
$wi-solid-search: '\ebdc' !default;
$wi-solid-search-dollar: '\ebdd' !default;
$wi-solid-search-location: '\ebde' !default;
$wi-solid-search-minus: '\ebdf' !default;
$wi-solid-search-plus: '\ebe0' !default;
$wi-solid-seedling: '\ebe1' !default;
$wi-solid-server: '\ebe2' !default;
$wi-solid-shapes: '\ebe3' !default;
$wi-solid-share: '\ebe4' !default;
$wi-solid-share-alt: '\ebe5' !default;
$wi-solid-share-alt-square: '\ebe6' !default;
$wi-solid-share-square: '\ebe7' !default;
$wi-solid-shekel-sign: '\ebe8' !default;
$wi-solid-shield-alt: '\ebe9' !default;
$wi-solid-shield-virus: '\ebea' !default;
$wi-solid-ship: '\ebeb' !default;
$wi-solid-shipping-fast: '\ebec' !default;
$wi-solid-shoe-prints: '\ebed' !default;
$wi-solid-shopping-bag: '\ebee' !default;
$wi-solid-shopping-basket: '\ebef' !default;
$wi-solid-shopping-cart: '\ebf0' !default;
$wi-solid-shower: '\ebf1' !default;
$wi-solid-shuttle-van: '\ebf2' !default;
$wi-solid-sign: '\ebf3' !default;
$wi-solid-signal: '\ebf4' !default;
$wi-solid-signature: '\ebf5' !default;
$wi-solid-sign-in-alt: '\ebf6' !default;
$wi-solid-sign-language: '\ebf7' !default;
$wi-solid-sign-out-alt: '\ebf8' !default;
$wi-solid-sim-card: '\ebf9' !default;
$wi-solid-sink: '\ebfa' !default;
$wi-solid-sitemap: '\ebfb' !default;
$wi-solid-skating: '\ebfc' !default;
$wi-solid-skiing: '\ebfd' !default;
$wi-solid-skiing-nordic: '\ebfe' !default;
$wi-solid-skull: '\ebff' !default;
$wi-solid-skull-crossbones: '\ec00' !default;
$wi-solid-slash: '\ec01' !default;
$wi-solid-sleigh: '\ec02' !default;
$wi-solid-sliders-h: '\ec03' !default;
$wi-solid-smile: '\ec04' !default;
$wi-solid-smile-beam: '\ec05' !default;
$wi-solid-smile-wink: '\ec06' !default;
$wi-solid-smog: '\ec07' !default;
$wi-solid-smoking: '\ec08' !default;
$wi-solid-smoking-ban: '\ec09' !default;
$wi-solid-sms: '\ec0a' !default;
$wi-solid-snowboarding: '\ec0b' !default;
$wi-solid-snowflake: '\ec0c' !default;
$wi-solid-snowman: '\ec0d' !default;
$wi-solid-snowplow: '\ec0e' !default;
$wi-solid-soap: '\ec0f' !default;
$wi-solid-socks: '\ec10' !default;
$wi-solid-solar-panel: '\ec11' !default;
$wi-solid-sort: '\ec12' !default;
$wi-solid-sort-alpha-down: '\ec13' !default;
$wi-solid-sort-alpha-down-alt: '\ec14' !default;
$wi-solid-sort-alpha-up: '\ec15' !default;
$wi-solid-sort-alpha-up-alt: '\ec16' !default;
$wi-solid-sort-amount-down: '\ec17' !default;
$wi-solid-sort-amount-down-alt: '\ec18' !default;
$wi-solid-sort-amount-up: '\ec19' !default;
$wi-solid-sort-amount-up-alt: '\ec1a' !default;
$wi-solid-sort-down: '\ec1b' !default;
$wi-solid-sort-numeric-down: '\ec1c' !default;
$wi-solid-sort-numeric-down-alt: '\ec1d' !default;
$wi-solid-sort-numeric-up: '\ec1e' !default;
$wi-solid-sort-numeric-up-alt: '\ec1f' !default;
$wi-solid-sort-up: '\ec20' !default;
$wi-solid-spa: '\ec21' !default;
$wi-solid-space-shuttle: '\ec22' !default;
$wi-solid-spell-check: '\ec23' !default;
$wi-solid-spider: '\ec24' !default;
$wi-solid-spinner: '\ec25' !default;
$wi-solid-splotch: '\ec26' !default;
$wi-solid-spray-can: '\ec27' !default;
$wi-solid-square: '\ec28' !default;
$wi-solid-square-full: '\ec29' !default;
$wi-solid-square-root-alt: '\ec2a' !default;
$wi-solid-stamp: '\ec2b' !default;
$wi-solid-star: '\ec2c' !default;
$wi-solid-star-and-crescent: '\ec2d' !default;
$wi-solid-star-half: '\ec2e' !default;
$wi-solid-star-half-alt: '\ec2f' !default;
$wi-solid-star-of-david: '\ec30' !default;
$wi-solid-star-of-life: '\ec31' !default;
$wi-solid-step-backward: '\ec32' !default;
$wi-solid-step-forward: '\ec33' !default;
$wi-solid-stethoscope: '\ec34' !default;
$wi-solid-sticky-note: '\ec35' !default;
$wi-solid-stop: '\ec36' !default;
$wi-solid-stop-circle: '\ec37' !default;
$wi-solid-stopwatch: '\ec38' !default;
$wi-solid-stopwatch-20: '\ec39' !default;
$wi-solid-store: '\ec3a' !default;
$wi-solid-store-alt: '\ec3b' !default;
$wi-solid-store-alt-slash: '\ec3c' !default;
$wi-solid-store-slash: '\ec3d' !default;
$wi-solid-stream: '\ec3e' !default;
$wi-solid-street-view: '\ec3f' !default;
$wi-solid-strikethrough: '\ec40' !default;
$wi-solid-stroopwafel: '\ec41' !default;
$wi-solid-subscript: '\ec42' !default;
$wi-solid-subway: '\ec43' !default;
$wi-solid-suitcase: '\ec44' !default;
$wi-solid-suitcase-rolling: '\ec45' !default;
$wi-solid-sun: '\ec46' !default;
$wi-solid-superscript: '\ec47' !default;
$wi-solid-surprise: '\ec48' !default;
$wi-solid-swatchbook: '\ec49' !default;
$wi-solid-swimmer: '\ec4a' !default;
$wi-solid-swimming-pool: '\ec4b' !default;
$wi-solid-synagogue: '\ec4c' !default;
$wi-solid-sync: '\ec4d' !default;
$wi-solid-sync-alt: '\ec4e' !default;
$wi-solid-syringe: '\ec4f' !default;
$wi-solid-table: '\ec50' !default;
$wi-solid-tablet: '\ec51' !default;
$wi-solid-tablet-alt: '\ec52' !default;
$wi-solid-table-tennis: '\ec53' !default;
$wi-solid-tablets: '\ec54' !default;
$wi-solid-tachometer-alt: '\ec55' !default;
$wi-solid-tag: '\ec56' !default;
$wi-solid-tags: '\ec57' !default;
$wi-solid-tape: '\ec58' !default;
$wi-solid-tasks: '\ec59' !default;
$wi-solid-taxi: '\ec5a' !default;
$wi-solid-teeth: '\ec5b' !default;
$wi-solid-teeth-open: '\ec5c' !default;
$wi-solid-temperature-high: '\ec5d' !default;
$wi-solid-temperature-low: '\ec5e' !default;
$wi-solid-tenge: '\ec5f' !default;
$wi-solid-terminal: '\ec60' !default;
$wi-solid-text-height: '\ec61' !default;
$wi-solid-text-width: '\ec62' !default;
$wi-solid-th: '\ec63' !default;
$wi-solid-theater-masks: '\ec64' !default;
$wi-solid-thermometer: '\ec65' !default;
$wi-solid-thermometer-empty: '\ec66' !default;
$wi-solid-thermometer-full: '\ec67' !default;
$wi-solid-thermometer-half: '\ec68' !default;
$wi-solid-thermometer-quarter: '\ec69' !default;
$wi-solid-thermometer-three-quarters: '\ec6a' !default;
$wi-solid-th-large: '\ec6b' !default;
$wi-solid-th-list: '\ec6c' !default;
$wi-solid-thumbs-down: '\ec6d' !default;
$wi-solid-thumbs-up: '\ec6e' !default;
$wi-solid-thumbtack: '\ec6f' !default;
$wi-solid-ticket-alt: '\ec70' !default;
$wi-solid-times: '\ec71' !default;
$wi-solid-times-circle: '\ec72' !default;
$wi-solid-tint: '\ec73' !default;
$wi-solid-tint-slash: '\ec74' !default;
$wi-solid-tired: '\ec75' !default;
$wi-solid-toggle-off: '\ec76' !default;
$wi-solid-toggle-on: '\ec77' !default;
$wi-solid-toilet: '\ec78' !default;
$wi-solid-toilet-paper: '\ec79' !default;
$wi-solid-toilet-paper-slash: '\ec7a' !default;
$wi-solid-toolbox: '\ec7b' !default;
$wi-solid-tools: '\ec7c' !default;
$wi-solid-tooth: '\ec7d' !default;
$wi-solid-torah: '\ec7e' !default;
$wi-solid-torii-gate: '\ec7f' !default;
$wi-solid-tractor: '\ec80' !default;
$wi-solid-trademark: '\ec81' !default;
$wi-solid-traffic-light: '\ec82' !default;
$wi-solid-trailer: '\ec83' !default;
$wi-solid-train: '\ec84' !default;
$wi-solid-tram: '\ec85' !default;
$wi-solid-transgender: '\ec86' !default;
$wi-solid-transgender-alt: '\ec87' !default;
$wi-solid-trash: '\ec88' !default;
$wi-solid-trash-alt: '\ec89' !default;
$wi-solid-trash-restore: '\ec8a' !default;
$wi-solid-trash-restore-alt: '\ec8b' !default;
$wi-solid-tree: '\ec8c' !default;
$wi-solid-trophy: '\ec8d' !default;
$wi-solid-truck: '\ec8e' !default;
$wi-solid-truck-loading: '\ec8f' !default;
$wi-solid-truck-monster: '\ec90' !default;
$wi-solid-truck-moving: '\ec91' !default;
$wi-solid-truck-pickup: '\ec92' !default;
$wi-solid-tshirt: '\ec93' !default;
$wi-solid-tty: '\ec94' !default;
$wi-solid-tv: '\ec95' !default;
$wi-solid-umbrella: '\ec96' !default;
$wi-solid-umbrella-beach: '\ec97' !default;
$wi-solid-underline: '\ec98' !default;
$wi-solid-undo: '\ec99' !default;
$wi-solid-undo-alt: '\ec9a' !default;
$wi-solid-universal-access: '\ec9b' !default;
$wi-solid-university: '\ec9c' !default;
$wi-solid-unlink: '\ec9d' !default;
$wi-solid-unlock: '\ec9e' !default;
$wi-solid-unlock-alt: '\ec9f' !default;
$wi-solid-upload: '\eca0' !default;
$wi-solid-user: '\eca1' !default;
$wi-solid-user-alt: '\eca2' !default;
$wi-solid-user-alt-slash: '\eca3' !default;
$wi-solid-user-astronaut: '\eca4' !default;
$wi-solid-user-check: '\eca5' !default;
$wi-solid-user-circle: '\eca6' !default;
$wi-solid-user-clock: '\eca7' !default;
$wi-solid-user-cog: '\eca8' !default;
$wi-solid-user-edit: '\eca9' !default;
$wi-solid-user-friends: '\ecaa' !default;
$wi-solid-user-graduate: '\ecab' !default;
$wi-solid-user-injured: '\ecac' !default;
$wi-solid-user-lock: '\ecad' !default;
$wi-solid-user-md: '\ecae' !default;
$wi-solid-user-minus: '\ecaf' !default;
$wi-solid-user-ninja: '\ecb0' !default;
$wi-solid-user-nurse: '\ecb1' !default;
$wi-solid-user-plus: '\ecb2' !default;
$wi-solid-users: '\ecb3' !default;
$wi-solid-users-cog: '\ecb4' !default;
$wi-solid-user-secret: '\ecb5' !default;
$wi-solid-user-shield: '\ecb6' !default;
$wi-solid-user-slash: '\ecb7' !default;
$wi-solid-users-slash: '\ecb8' !default;
$wi-solid-user-tag: '\ecb9' !default;
$wi-solid-user-tie: '\ecba' !default;
$wi-solid-user-times: '\ecbb' !default;
$wi-solid-utensils: '\ecbc' !default;
$wi-solid-utensil-spoon: '\ecbd' !default;
$wi-solid-vector-square: '\ecbe' !default;
$wi-solid-venus: '\ecbf' !default;
$wi-solid-venus-double: '\ecc0' !default;
$wi-solid-venus-mars: '\ecc1' !default;
$wi-solid-vest: '\ecc2' !default;
$wi-solid-vest-patches: '\ecc3' !default;
$wi-solid-vial: '\ecc4' !default;
$wi-solid-vials: '\ecc5' !default;
$wi-solid-video: '\ecc6' !default;
$wi-solid-video-slash: '\ecc7' !default;
$wi-solid-vihara: '\ecc8' !default;
$wi-solid-virus: '\ecc9' !default;
$wi-solid-viruses: '\ecca' !default;
$wi-solid-virus-slash: '\eccb' !default;
$wi-solid-voicemail: '\eccc' !default;
$wi-solid-volleyball-ball: '\eccd' !default;
$wi-solid-volume-down: '\ecce' !default;
$wi-solid-volume-mute: '\eccf' !default;
$wi-solid-volume-off: '\ecd0' !default;
$wi-solid-volume-up: '\ecd1' !default;
$wi-solid-vote-yea: '\ecd2' !default;
$wi-solid-vr-cardboard: '\ecd3' !default;
$wi-solid-walking: '\ecd4' !default;
$wi-solid-wallet: '\ecd5' !default;
$wi-solid-warehouse: '\ecd6' !default;
$wi-solid-water: '\ecd7' !default;
$wi-solid-wave-square: '\ecd8' !default;
$wi-solid-weight: '\ecd9' !default;
$wi-solid-weight-hanging: '\ecda' !default;
$wi-solid-wheelchair: '\ecdb' !default;
$wi-solid-wifi: '\ecdc' !default;
$wi-solid-wind: '\ecdd' !default;
$wi-solid-window-close: '\ecde' !default;
$wi-solid-window-maximize: '\ecdf' !default;
$wi-solid-window-minimize: '\ece0' !default;
$wi-solid-window-restore: '\ece1' !default;
$wi-solid-wine-bottle: '\ece2' !default;
$wi-solid-wine-glass: '\ece3' !default;
$wi-solid-wine-glass-alt: '\ece4' !default;
$wi-solid-won-sign: '\ece5' !default;
$wi-solid-wrench: '\ece6' !default;
$wi-solid-x-ray: '\ece7' !default;
$wi-solid-yen-sign: '\ece8' !default;
$wi-solid-yin-yang: '\ece9' !default;

